<div class="authloginpage-25-36" name="Auth@Login Page">
 <img class="vector-25-37" src="assets/images/Auth/login-page/vector-25_37.svg"/>
 <div class="group-25-51" name="Group">
  <div class="group-25-52" name="Group">
   <div class="group-25-53" name="Group">
    <div class="group-25-54" name="Group">
     <div class="group-25-55" name="Group">
      <div class="group-25-56" name="Group">
      </div>
     </div>
    </div>
    <div class="group-25-57" name="Group">
     <input class="text-25-58" placeholder="Password" type="text"/>
     <input class="text-25-61" placeholder="john.doe" type="text"/>
     <div class="group-25-64" name="Group">
      <div class="group-25-65" name="Group">
      </div>
      <label class="text-25-66" type="text" value="User Name">
       User Name
      </label>
     </div>
    </div>
    <div class="group-25-67" name="Group">
     <label class="text-25-68" type="text" value="Show
Password">
      Show
Password
     </label>
     <img class="vector-25-69" src="assets/images/Auth/login-page/vector-25_69.svg"/>
    </div>
   </div>
  </div>
  <button class="btn-25-70" type="button">
   Login
  </button>
  <label class="text-25-73" type="text" value="Forgot username?  |  Forgot password?">
   Forgot username?  |  Forgot password?
  </label>
  <label class="text-25-74" type="text" value="Welcome Back!">
   Welcome Back!
  </label>
 </div>
 <div class="group-25-75" name="Group">
 </div>
 <div class="group-25-76" name="Group">
  <img class="img-25-77" src="assets/images/Auth/login-page/img-25_77.png"/>
 </div>
 <label class="text-25-316" type="text" value="All-in-one platform for the efficient prediction and management of physician and nurse scheduling">
  All-in-one platform for the efficient prediction and management of physician and nurse scheduling
 </label>
 <label class="text-25-317" type="text" value="The first AI-driven healthcare
staffing + scheduling platform">
  The first AI-driven healthcare
staffing + scheduling platform
 </label>
 <img class="vector-25-318" src="assets/images/Auth/login-page/vector-25_318.svg"/>
</div>
