<div class="coreactualdatadashboard-25-2591" name="Core@Actual Data Dash board">
 <div class="group-25-2592" name="Group">
  <div class="group-25-2593" name="Group">
  </div>
  <label class="text-25-2594" type="text" value="©2021 polarishealth.ai- All Rights Reserved.">
   ©2021 polarishealth.ai- All Rights Reserved.
  </label>
 </div>
 <div class="group-25-2595" name="Group">
  <div class="group-25-2596" name="Group">
  </div>
  <img class="vector-25-2705" src="assets/images/Core/actual-data-dash-board/vector-25_2705.svg"/>
  <div class="group-25-2810" name="Group">
   <div class="group-25-2811" name="Group">
   </div>
   <button class="btn-25-2812" type="button">
    <img class="vector-25-2814" src="assets/images/Core/actual-data-dash-board/vector-25_2814.svg"/>
   </button>
   <div class="group-25-2817" name="Group">
    <img class="vector-25-2818" src="assets/images/Core/actual-data-dash-board/vector-25_2818.svg"/>
    <label class="text-25-2823" type="text" value="Base Line">
     Base Line
    </label>
   </div>
  </div>
  <div class="group-25-2754" name="Group">
   <select class="dropdown-25-2755">
    <option selected="" value="">
     Department Baseline
    </option>
   </select>
   <div class="group-25-2760" name="Group">
    <div class="group-25-2761" name="Group">
     <button class="btn-25-2762" type="button">
      <img class="vector-25-2764" src="assets/images/Core/actual-data-dash-board/vector-25_2764.svg"/>
     </button>
     <button class="btn-25-2767" type="button">
      <img class="vector-25-2769" src="assets/images/Core/actual-data-dash-board/vector-25_2769.svg"/>
     </button>
     <button class="btn-25-2772" type="button">
      <img class="vector-25-2774" src="assets/images/Core/actual-data-dash-board/vector-25_2774.svg"/>
     </button>
     <button class="btn-25-2781" type="button">
      <img class="vector-25-2783" src="assets/images/Core/actual-data-dash-board/vector-25_2783.svg"/>
     </button>
     <button class="btn-25-2787" type="button">
      <img class="vector-25-2789" src="assets/images/Core/actual-data-dash-board/vector-25_2789.svg"/>
     </button>
     <button class="btn-25-2793" type="button">
      <img class="vector-25-2795" src="assets/images/Core/actual-data-dash-board/vector-25_2795.svg"/>
     </button>
    </div>
    <button class="btn-25-2797" type="button">
     <img class="vector-25-2799" src="assets/images/Core/actual-data-dash-board/vector-25_2799.svg"/>
    </button>
   </div>
   <select class="dropdown-25-2806">
    <option selected="" value="">
     Time Period
    </option>
   </select>
  </div>
  <button class="btn-25-3117" type="button">
   <img class="vector-25-3120" src="assets/images/Core/actual-data-dash-board/vector-25_3120.svg"/>
   Create what-if analysis
  </button>
  <img class="vector-25-2597" src="assets/images/Core/actual-data-dash-board/vector-25_2597.svg"/>
  <img class="vector-25-2606" src="assets/images/Core/actual-data-dash-board/vector-25_2606.svg"/>
  <div class="group-25-2706" name="Group">
   <div class="group-25-2707" name="Group">
    <div class="group-25-2708" name="Group">
     <select class="dropdown-25-2709">
      <option selected="" value="">
       Base Line
      </option>
     </select>
     <div class="group-25-2716" name="Group">
      <img class="vector-25-2717" src="assets/images/Core/actual-data-dash-board/vector-25_2717.svg"/>
      <label class="text-25-2718" type="text" value="3">
       3
      </label>
     </div>
    </div>
    <div class="group-25-2719" name="Group">
     <select class="dropdown-25-2720">
      <option selected="" value="">
       Base Line
      </option>
     </select>
     <div class="group-25-2727" name="Group">
      <img class="vector-25-2728" src="assets/images/Core/actual-data-dash-board/vector-25_2728.svg"/>
      <label class="text-25-2729" type="text" value="8">
       8
      </label>
     </div>
    </div>
   </div>
   <div class="group-25-2730" name="Group">
    <div class="group-25-2731" name="Group">
     <img class="vector-25-2732" src="assets/images/Core/actual-data-dash-board/vector-25_2732.svg"/>
     <label class="text-25-2745" type="text" value="St. Michael Medical Center: 921409198-87861">
      St. Michael Medical Center: 921409198-87861
     </label>
    </div>
    <button class="btn-25-2746" type="button">
     <img class="vector-25-2749" src="assets/images/Core/actual-data-dash-board/vector-25_2749.svg"/>
     Complete
    </button>
    <button class="btn-25-2751" type="button">
     <img class="vector-25-2753" src="assets/images/Core/actual-data-dash-board/vector-25_2753.svg"/>
    </button>
   </div>
  </div>
  <div class="group-25-2613" name="Group">
   <div class="group-25-2614" name="Group">
   </div>
   <div class="group-25-2615" name="Group">
    <div class="group-25-2616" name="Group">
     <div class="group-25-2617" name="Group">
      <div class="group-25-2618" name="Group">
       <label class="text-25-2619" type="text" value="Emergency Room">
        Emergency Room
       </label>
       <div class="group-25-2620" name="Group">
        <label class="text-25-2621" type="text" value="Dept: Type">
         Dept: Type
        </label>
        <img class="vector-25-2622" src="assets/images/Core/actual-data-dash-board/vector-25_2622.svg"/>
       </div>
      </div>
      <div class="group-25-2626" name="Group">
       <div class="group-25-2627" name="Group">
        <img class="vector-25-2628" src="assets/images/Core/actual-data-dash-board/vector-25_2628.svg"/>
        <label class="text-25-2630" type="text" value="Site1_ED">
         Site1_ED
        </label>
        <label class="text-25-2631" type="text" value="Dept: Group">
         Dept: Group
        </label>
       </div>
      </div>
      <div class="group-25-2632" name="Group">
       <div class="group-25-2633" name="Group">
        <img class="vector-25-2634" src="assets/images/Core/actual-data-dash-board/vector-25_2634.svg"/>
        <label class="text-25-2636" type="text" value="Registered Nurses">
         Registered Nurses
        </label>
        <label class="text-25-2637" type="text" value="Resource Group">
         Resource Group
        </label>
        <div class="group-25-2638" name="Group">
         <div class="group-25-2639" name="Group">
          <div class="group-25-2640" name="Group">
          </div>
          <label class="text-25-2641" type="text" value="+3">
           +3
          </label>
         </div>
        </div>
       </div>
      </div>
      <div class="group-25-2642" name="Group">
       <div class="group-25-2643" name="Group">
        <img class="vector-25-2644" src="assets/images/Core/actual-data-dash-board/vector-25_2644.svg"/>
        <label class="text-25-2646" type="text" value="March 01,2023  10:33 AM">
         March 01,2023  10:33 AM
        </label>
        <label class="text-25-2647" type="text" value="Created On">
         Created On
        </label>
       </div>
      </div>
      <div class="group-25-2648" name="Group">
       <div class="group-25-2649" name="Group">
        <div class="group-25-2650" name="Group">
         <img class="vector-25-2651" src="assets/images/Core/actual-data-dash-board/vector-25_2651.svg"/>
         <label class="text-25-2653" type="text" value="921409198-87861">
          921409198-87861
         </label>
         <label class="text-25-2654" type="text" value="Base Line ID">
          Base Line ID
         </label>
        </div>
       </div>
      </div>
     </div>
     <div class="group-25-2655" name="Group">
      <div class="group-25-2656" name="Group">
       <div class="group-25-2657" name="Group">
        <div class="group-25-2658" name="Group">
         <div class="group-25-2659" name="Group">
          <div class="group-25-2660" name="Group">
           <label class="text-25-2661" type="text" value="Shift Duration">
            Shift Duration
           </label>
           <label class="text-25-2662" type="text" value="5-10">
            5-10
           </label>
           <img class="vector-25-2663" src="assets/images/Core/actual-data-dash-board/vector-25_2663.svg"/>
           <label class="text-25-2665" type="text" value="Hours">
            Hours
           </label>
          </div>
         </div>
        </div>
       </div>
      </div>
      <div class="group-25-2666" name="Group">
       <div class="group-25-2667" name="Group">
        <div class="group-25-2668" name="Group">
         <label class="text-25-2669" type="text" value="Start Date ">
          Start Date
         </label>
         <div class="group-25-2670" name="Group">
          <label class="text-25-2671" type="text" value="03 Jan 2023">
           03 Jan 2023
          </label>
         </div>
         <img class="vector-25-2672" src="assets/images/Core/actual-data-dash-board/vector-25_2672.svg"/>
        </div>
       </div>
      </div>
      <div class="group-25-2674" name="Group">
       <div class="group-25-2675" name="Group">
        <div class="group-25-2676" name="Group">
         <img class="vector-25-2677" src="assets/images/Core/actual-data-dash-board/vector-25_2677.svg"/>
         <div class="group-25-2679" name="Group">
          <div class="group-25-2680" name="Group">
           <label class="text-25-2681" type="text" value="End Date">
            End Date
           </label>
          </div>
          <div class="group-25-2682" name="Group">
           <div class="group-25-2683" name="Group">
            <label class="text-25-2684" type="text" value="31 Jan  2023">
             31 Jan  2023
            </label>
           </div>
          </div>
         </div>
        </div>
       </div>
      </div>
      <div class="group-25-2685" name="Group">
       <div class="group-25-2686" name="Group">
        <div class="group-25-2687" name="Group">
         <div class="group-25-2688" name="Group">
          <label class="text-25-2689" type="text" value="Latest Start Time Scale ">
           Latest Start Time Scale
          </label>
          <label class="text-25-2690" type="text" value="03">
           03
          </label>
          <img class="vector-25-2691" src="assets/images/Core/actual-data-dash-board/vector-25_2691.svg"/>
         </div>
        </div>
       </div>
      </div>
      <div class="group-25-2693" name="Group">
       <div class="group-25-2694" name="Group">
        <div class="group-25-2695" name="Group">
         <label class="text-25-2696" type="text" value="Transition Scale ">
          Transition Scale
         </label>
         <label class="text-25-2697" type="text" value="03">
          03
         </label>
         <img class="vector-25-2698" src="assets/images/Core/actual-data-dash-board/vector-25_2698.svg"/>
        </div>
       </div>
      </div>
     </div>
    </div>
    <img class="vector-25-2704" src="assets/images/Core/actual-data-dash-board/vector-25_2704.svg"/>
   </div>
  </div>
  <div class="group-25-3065" name="Group">
   <div class="group-25-3066" name="Group">
    <label class="text-25-3067" type="text" value="Polaris Optimal">
     Polaris Optimal
    </label>
    <label class="text-25-3068" type="text" value="Cost savings">
     Cost savings
    </label>
    <label class="text-25-3069" type="text" value="$865 654">
     $865 654
    </label>
    <img class="vector-25-3070" src="assets/images/Core/actual-data-dash-board/vector-25_3070.svg"/>
    <div class="group-25-3072" name="Group">
     <img class="vector-25-3073" src="assets/images/Core/actual-data-dash-board/vector-25_3073.svg"/>
     <label class="text-25-3075" type="text" value="+ 3.3 %">
      + 3.3 %
     </label>
    </div>
    <img class="vector-25-3076" src="assets/images/Core/actual-data-dash-board/vector-25_3076.svg"/>
   </div>
  </div>
  <div class="group-25-3081" name="Group">
   <select class="dropdown-25-3082">
    <option selected="" value="">
     Shift Duration Time
    </option>
   </select>
   <select class="dropdown-25-3092">
    <option selected="" value="">
     Day Of The Week
    </option>
   </select>
   <select class="dropdown-25-3096">
    <option selected="" value="">
     Resource Group
    </option>
   </select>
   <button class="btn-25-3086" type="button">
    <img class="vector-25-3089" src="assets/images/Core/actual-data-dash-board/vector-25_3089.svg"/>
    What If Scenario A
   </button>
   <select class="dropdown-25-3113">
    <option selected="" value="">
     View
    </option>
   </select>
   <div class="group-25-3100" name="Group">
    <div class="group-25-3101" name="Group">
     <label class="text-25-3102" type="text" value="1D">
      1D
     </label>
     <label class="text-25-3103" type="text" value="1M">
      1M
     </label>
     <label class="text-25-3104" type="text" value="3M">
      3M
     </label>
     <label class="text-25-3105" type="text" value="6M">
      6M
     </label>
     <img class="vector-25-3106" src="assets/images/Core/actual-data-dash-board/vector-25_3106.svg"/>
     <label class="text-25-3108" type="text" value="7D">
      7D
     </label>
    </div>
   </div>
   <img class="vector-25-3109" src="assets/images/Core/actual-data-dash-board/vector-25_3109.svg"/>
  </div>
  <img class="vector-25-2824" src="assets/images/Core/actual-data-dash-board/vector-25_2824.svg"/>
  <div class="group-25-3122" name="Group">
   <div class="group-25-3123" name="Group">
    <div class="group-25-3124" name="Group">
    </div>
    <div class="group-25-3125" name="Group">
     <div class="group-25-3126" name="Group">
     </div>
     <div class="group-25-3137" name="Group">
      <img class="vector-25-3139" src="assets/images/Core/actual-data-dash-board/vector-25_3139.svg"/>
      <label class="text-25-3138" type="text" value="Performance analysis">
       Performance analysis
      </label>
     </div>
     <div class="group-25-3127" name="Group">
      <button class="btn-25-3128" type="button">
       <img class="vector-25-3130" src="assets/images/Core/actual-data-dash-board/vector-25_3130.svg"/>
      </button>
      <button class="btn-25-3132" type="button">
       <img class="vector-25-3134" src="assets/images/Core/actual-data-dash-board/vector-25_3134.svg"/>
      </button>
     </div>
    </div>
   </div>
   <img class="vector-25-3146" src="assets/images/Core/actual-data-dash-board/vector-25_3146.svg"/>
   <div class="group-25-3143" name="Group">
    <div class="group-25-3144" name="Group">
    </div>
    <label class="text-25-3145" type="text" value="Pending actual data for time period">
     Pending actual data for time period
    </label>
   </div>
  </div>
 </div>
 <div class="group-25-3168" name="Group">
  <div class="group-25-3169" name="Group">
  </div>
  <label class="text-25-3170" type="text" value="Dash Board">
   Dash Board
  </label>
  <img class="vector-25-3172" src="assets/images/Core/actual-data-dash-board/vector-25_3172.svg"/>
  <label class="text-25-3171" type="text" value="Information snippet and management from Base Line, What-if, and Performance analysis pages">
   Information snippet and management from Base Line, What-if, and Performance analysis pages
  </label>
 </div>
 <div class="group-25-3173" name="Group">
  <div class="group-25-3174" name="Group">
  </div>
  <img class="vector-25-3178" src="assets/images/Core/actual-data-dash-board/vector-25_3178.svg"/>
  <img class="vector-25-3203" src="assets/images/Core/actual-data-dash-board/vector-25_3203.svg"/>
  <button class="btn-25-3209" type="button">
   <img class="vector-25-3212" src="assets/images/Core/actual-data-dash-board/vector-25_3212.svg"/>
   Create Baseline
  </button>
  <img class="vector-25-3204" src="assets/images/Core/actual-data-dash-board/vector-25_3204.svg"/>
  <img class="vector-25-3175" src="assets/images/Core/actual-data-dash-board/vector-25_3175.svg"/>
 </div>
</div>
