

.coreactualdatadashboard-25-2591{
position:'' ;width: 100%; height: auto;  background-color: rgba(244,244,244,1.0);top:0px; left: 0;background:''}

.group-25-2592{
position:absolute ;width: 1440.0px; height: 41.0px;  background-color: rgba(0,0,0,0.0);top:1484px; left: calc( ( ( 100% - 1440px) / 2 ) + 13px);background:''}

.group-25-2593{
position:absolute ;width: 1440.0px; height: 41.0px;  background-color: rgba(244,244,244,1.0);top:0px; left: 0px;box-shadow: 0.0px -1.0px 5.0px rgba(0, 0, 0, 0.10000000149011612);background:''}

.text-25-2594{
position: absolute;
left: 27.0px;
 top: 10.0px;
 width: 241.0px;
 height: 21.0px;
font-size: 12.0px; color: rgba(23, 23, 54, 1.0); font-family: Gilroy-Regular; font-weight: 400;
}

.group-25-2595{
position:absolute ;width: 1377.0px; height: 1314.0px;  background-color: rgba(255,255,255,1.0);top:153px; left: calc( ( ( 100% - 1440px) / 2 ) + 27px);background:''}

.group-25-2596{
position:absolute ;width: 1367.0px; height: 1231.0px;  background-color: rgba(255,255,255,1.0);top:83px; left: 5px;background:''}

.vector-25-2705{
position: absolute;left: 5.0px; top: 136.199951171875px; width: 1367.0px; height: 1}

.group-25-2810{
position:absolute ;width: 1377.0px; height: 44.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-25-2811{
position:absolute ;width: 1377.0px; height: 44.0px;  background-color: rgba(34,52,132,1.0);top:0px; left: 0px;background:''}

.vector-25-2814{
position: relative; width: 18.0px; height: 18.0}

.btn-25-2812{
position: absolute;
left: 1340.0px;
 top: 8.0px;
 width: 28.0px;
 height: 28.0px;
border-radius: 2.0px; background-color: rgba(74, 87, 145, 1.0);
 cursor: pointer;

}

.group-25-2817{
position:absolute ;width: 117.0px; height: 24.0px;  background-color: rgba(0,0,0,0.0);top:10px; left: 10px;background:''}

.vector-25-2818{
position: absolute;left: 0.0px; top: 0.0px; width: 24.0px; height: 24.0}

.text-25-2823{
position: absolute;
left: 35.0px;
 top: 7.0px;
 width: 82.0px;
 height: 11.0px;
font-size: 16.0px; color: rgba(255, 255, 255, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.group-25-2754{
position:absolute ;width: 1140.0px; height: 30.0px;  background-color: rgba(0,0,0,0.0);top:48px; left: 5px;background:''}

.dropdown-25-2755{
position: absolute;left: 0.0px; top: 1.0px;background-color: rgba(33, 150, 243, 1.0);; width: 197.0px; height: 28.0px;
font-size: 12.0px; color: rgba(255, 255, 255, 1.0); font-family: Gilroy-SemiBold;
}

.group-25-2760{
position:absolute ;width: 226.0px; height: 28.0px;  background-color: rgba(0,0,0,0.0);top:1px; left: 914px;border-radius: 2.0px;background:''}

.group-25-2761{
position:absolute ;width: 193.0px; height: 28.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 33px;border-radius: 2.0px;background:''}

.vector-25-2764{
position: relative; width: 18.0px; height: 18.0}

.btn-25-2762{
position: absolute;
left: 165.0px;
 top: 0.0px;
 width: 28.0px;
 height: 28.0px;
border-radius: 2.0px; background-color: rgba(222, 252, 235, 1.0);
 cursor: pointer;

}

.vector-25-2769{
position: relative; width: 18.0px; height: 18.0}

.btn-25-2767{
position: absolute;
left: 132.0px;
 top: 0.0px;
 width: 28.0px;
 height: 28.0px;
border-radius: 2.0px; background-color: rgba(255, 232, 229, 1.0);
 cursor: pointer;

}

.vector-25-2774{
position: relative; width: 18.0px; height: 18.0}

.btn-25-2772{
position: absolute;
left: 99.0px;
 top: 0.0px;
 width: 28.0px;
 height: 28.0px;
border-radius: 2.0px; background-color: rgba(255, 255, 255, 1.0);
 cursor: pointer;

}

.vector-25-2783{
position: relative; width: 18.0px; height: 18.0}

.btn-25-2781{
position: absolute;
left: 66.0px;
 top: 0.0px;
 width: 28.0px;
 height: 28.0px;
border-radius: 2.0px; background-color: rgba(255, 255, 255, 1.0);
 cursor: pointer;

}

.vector-25-2789{
position: relative; width: 18.0px; height: 18.0}

.btn-25-2787{
position: absolute;
left: 33.0px;
 top: 0.0px;
 width: 28.0px;
 height: 28.0px;
border-radius: 2.0px; background-color: rgba(255, 255, 255, 1.0);
 cursor: pointer;

}

.vector-25-2795{
position: relative; width: 18.0px; height: 18.0}

.btn-25-2793{
position: absolute;
left: 0.0px;
 top: 0.0px;
 width: 28.0px;
 height: 28.0px;
border-radius: 2.0px; background-color: rgba(255, 255, 255, 1.0);
 cursor: pointer;

}

.vector-25-2799{
position: relative; width: 23.0px; height: 23.0}

.btn-25-2797{
position: absolute;
left: 0.0px;
 top: 0.0px;
 width: 27.0px;
 height: 27.0px;
border-radius: 2.0px; background-color: rgba(255, 255, 255, 1.0);
 cursor: pointer;

}

.dropdown-25-2806{
position: absolute;left: 220.0px; top: 0.0px;background-color: rgba(239, 242, 245, 1.0);; width: 165.0px; height: 30.0px;
font-size: 12.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-SemiBold;
}

.vector-25-3120{
position: relative; width: 24.0px; height: 24.0}

.btn-25-3117{
position: absolute;
left: 1151.0px;
 top: 50.0px;
 width: 218.0px;
 height: 28.0px;
border-radius: 2.0px; background-color: rgba(34, 52, 132, 1.0);
 cursor: pointer;
font-size: 12.0px; color: rgba(255, 255, 255, 1.0); font-family: Gilroy-Bold; text-transform: uppercase; font-weight: 400;
}

.vector-25-2597{
position: absolute;left: 1324.03564453125px; top: 95.0px; width: 34.634765625px; height: 28.0009765625}

.vector-25-2606{
position: absolute;left: 1230.0px; top: 96.999267578125px; width: 77.5234375px; height: 25.00732421875}

.group-25-2706{
position:absolute ;width: 1196.35400390625px; height: 28.33056640625px;  background-color: rgba(0,0,0,0.0);top:95px; left: 18px;background:''}

.group-25-2707{
position:absolute ;width: 278.35498046875px; height: 28.33056640625px;  background-color: rgba(0,0,0,0.0);top:0px; left: 917px;background:''}

.group-25-2708{
position:absolute ;width: 130.72998046875px; height: 28.33056640625px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.dropdown-25-2709{
position: absolute;left: 0.93798828125px; top: -0.01806640625px;background-color: rgba(33, 150, 243, 1.0);; width: 125.2548828125px; height: 28.268798828125px;
font-size: 9.0px; color: rgba(33, 150, 243, 1.0); font-family: Gilroy-SemiBold;
}

.group-25-2716{
position:absolute ;width: 13.00927734375px; height: 13.0px;  background-color: rgba(0,0,0,0.0);top:1px; left: 118px;background:''}

.vector-25-2717{
position: absolute;left: 0.7177734375px; top: -0.935546875px; width: 13.00927734375px; height: 13.0}

.text-25-2718{
position: absolute;
left: 4.7216796875px;
 top: 2.064453125px;
 width: 5.00341796875px;
 height: 6.0px;
font-size: 8.0px; color: rgba(255, 255, 255, 1.0); font-family: Gilroy-Medium; font-weight: 400;
}

.group-25-2719{
position:absolute ;width: 131.38525390625px; height: 28.1533203125px;  background-color: rgba(0,0,0,0.0);top:0px; left: 147px;background:''}

.dropdown-25-2720{
position: absolute;left: 0.96875px; top: 0.0px;background-color: rgba(34, 148, 94, 1.0);; width: 131.38525390625px; height: 28.1533203125px;
font-size: 9.0px; color: rgba(33, 150, 243, 1.0); font-family: Gilroy-SemiBold;
}

.group-25-2727{
position:absolute ;width: 13.01708984375px; height: 12.4775390625px;  background-color: rgba(0,0,0,0.0);top:1px; left: 119px;background:''}

.vector-25-2728{
position: absolute;left: 0.2177734375px; top: -0.92578125px; width: 13.01220703125px; height: 12.47216796875}

.text-25-2729{
position: absolute;
left: 3.9365234375px;
 top: 3.333984375px;
 width: 5.0048828125px;
 height: 5.25244140625px;
font-size: 8.0px; color: rgba(255, 255, 255, 1.0); font-family: Gilroy-Medium; font-weight: 400;
}

.group-25-2730{
position:absolute ;width: 478.99951171875px; height: 20.0px;  background-color: rgba(0,0,0,0.0);top:4px; left: 0px;background:''}

.group-25-2731{
position:absolute ;width: 354.03515625px; height: 19.76220703125px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;border-radius: 2.0px;background:''}

.vector-25-2732{
position: absolute;left: 0.00048828125px; top: 0.0px; width: 19.09619140625px; height: 19.10546875}

.text-25-2745{
position: absolute;
left: 24.0185546875px;
 top: 4.3828125px;
 width: 330.0126953125px;
 height: 13.47509765625px;
font-size: 14.0px; color: rgba(33, 150, 243, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.vector-25-2749{
position: relative; width: 9.404296875px; height: 7.16943359375}

.btn-25-2746{
position: absolute;
left: 391.0px;
 top: 1.0px;
 width: 88.0px;
 height: 19.0px;
border-radius: 1.6038835048675537px; background-color: rgba(179, 235, 203, 1.0);
 cursor: pointer;
font-size: 10.0px; color: rgba(33, 150, 83, 1.0); font-family: Gilroy-SemiBold; text-transform: uppercase; font-weight: 400;
}

.vector-25-2753{
position: relative; width: 6.99267578125px; height: 10.7861328125}

.btn-25-2751{
position: absolute;
left: 364.0px;
 top: 1.0px;
 width: 19.00439453125px;
 height: 18.80322265625px;
border-radius: 2.0px; background-color: rgba(203, 203, 203, 0.10000000149011612);
 cursor: pointer;

}

.group-25-2613{
position:absolute ;width: 1341.0px; height: 90.0px;  background-color: rgba(0,0,0,0.0);top:151px; left: 18px;border-radius: 2.0px;background:''}

.group-25-2614{
position:absolute ;width: 1341.0px; height: 90.0px;  background-color: rgba(244,244,244,1.0);top:0px; left: 0px;border-radius: 2.0px;background:''}

.group-25-2615{
position:absolute ;width: 1320.0px; height: 70.0px;  background-color: rgba(0,0,0,0.0);top:10px; left: 11px;border-radius: 2.0px;background:''}

.group-25-2616{
position:absolute ;width: 1141.0px; height: 70.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;border-radius: 2.0px;background:''}

.group-25-2617{
position:absolute ;width: 1141.0px; height: 30.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;border-radius: 2.0px;background:''}

.group-25-2618{
position:absolute ;width: 218.5859375px; height: 29.986328125px;  background-color: rgba(255,255,255,1.0);top:1px; left: 478px;border-radius: 2.0px;background:''}

.text-25-2619{
position: absolute;
left: 117.56640625px;
 top: 11.0px;
 width: 85.53369140625px;
 height: 6.9755859375px;
font-size: 10.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.group-25-2620{
position:absolute ;width: 80.25390625px; height: 10.96142578125px;  background-color: rgba(0,0,0,0.0);top:9px; left: 17px;background:''}

.text-25-2621{
position: absolute;
left: 19.2578125px;
 top: 2.0px;
 width: 61.24609375px;
 height: 7.0px;
font-size: 10.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Regular; font-weight: 400;
}

.vector-25-2622{
position: absolute;left: 0.25px; top: -0.767578125px; width: 11.61572265625px; height: 10.96142578125}

.group-25-2626{
position:absolute ;width: 196.41015625px; height: 29.986328125px;  background-color: rgba(255,255,255,1.0);top:1px; left: 707px;border-radius: 2.0px;background:''}

.group-25-2627{
position:absolute ;width: 179.5146484375px; height: 22.91943359375px;  background-color: rgba(0,0,0,0.0);top:4px; left: 7px;background:''}

.vector-25-2628{
position: absolute;left: 3.892578125px; top: 5.724609375px; width: 11.0px; height: 11.0}

.text-25-2630{
position: absolute;
left: 116.052734375px;
 top: 7.0px;
 width: 49.0px;
 height: 7.0px;
font-size: 10.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.text-25-2631{
position: absolute;
left: 22.01171875px;
 top: 7.0px;
 width: 68.63818359375px;
 height: 7.0px;
font-size: 10.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Regular; font-weight: 400;
}

.group-25-2632{
position:absolute ;width: 227.0px; height: 30.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 914px;border-radius: 2.0px;background:''}

.group-25-2633{
position:absolute ;width: 204.458984375px; height: 22.929931640625px;  background-color: rgba(0,0,0,0.0);top:5px; left: 11px;background:''}

.vector-25-2634{
position: absolute;left: 0.0px; top: 4.98828125px; width: 11.0px; height: 11.0}

.text-25-2636{
position: absolute;
left: 107.0px;
 top: 8.0px;
 width: 83.0px;
 height: 7.0px;
font-size: 10.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.text-25-2637{
position: absolute;
left: 15.0px;
 top: 6.9921875px;
 width: 88.07470703125px;
 height: 7.003173828125px;
font-size: 10.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Regular; font-weight: 400;
}

.group-25-2638{
position:absolute ;width: 18.0263671875px; height: 17.90771484375px;  background-color: rgba(0,0,0,0.0);top:3px; left: 195px;border-radius: 12.982590675354004px;background:''}

.group-25-2639{
position:absolute ;width: 18.0263671875px; height: 17.90771484375px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;border-radius: 12.982590675354004px;background:''}

.group-25-2640{
position:absolute ;width: 18.0263671875px; height: 17.9072265625px;  background-color: rgba(233,241,254,1.0);top:1px; left: 0px;border-radius: 12.982590675354004px;border-color:rgba(255, 255, 255, 1.0);border-style:solid;background:''}

.text-25-2641{
position: absolute;
left: 4.0px;
 top: 6.0px;
 width: 9.06396484375px;
 height: 6.002685546875px;
font-size: 8.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Medium; font-weight: 400;
}

.group-25-2642{
position:absolute ;width: 246.041015625px; height: 29.986328125px;  background-color: rgba(255,255,255,1.0);top:0px; left: 221px;border-radius: 2.0px;background:''}

.group-25-2643{
position:absolute ;width: 227.03369140625px; height: 23.090087890625px;  background-color: rgba(0,0,0,0.0);top:4px; left: 10px;background:''}

.vector-25-2644{
position: absolute;left: 4.0703125px; top: 5.986328125px; width: 9.62353515625px; height: 9.623291015625}

.text-25-2646{
position: absolute;
left: 99.447265625px;
 top: 6.986328125px;
 width: 115.0px;
 height: 7.0px;
font-size: 10.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.text-25-2647{
position: absolute;
left: 21.189453125px;
 top: 6.986328125px;
 width: 65.47021484375px;
 height: 7.0px;
font-size: 10.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Regular; font-weight: 400;
}

.group-25-2648{
position:absolute ;width: 211.19384765625px; height: 29.999755859375px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-radius: 2.0px;background:''}

.group-25-2649{
position:absolute ;width: 209.08203125px; height: 22.0px;  background-color: rgba(0,0,0,0.0);top:4px; left: 2px;background:''}

.group-25-2650{
position:absolute ;width: 180.0px; height: 11.0px;  background-color: rgba(0,0,0,0.0);top:5px; left: 15px;background:''}

.vector-25-2651{
position: absolute;left: 0.013671875px; top: 0.0px; width: 10.0px; height: 11.0}

.text-25-2653{
position: absolute;
left: 96.013671875px;
 top: 1.0px;
 width: 84.0px;
 height: 7.0px;
font-size: 10.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.text-25-2654{
position: absolute;
left: 17.240234375px;
 top: 1.0px;
 width: 68.48388671875px;
 height: 8.0px;
font-size: 10.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Regular; font-weight: 400;
}

.group-25-2655{
position:absolute ;width: 1141.0px; height: 30.0px;  background-color: rgba(0,0,0,0.0);top:40px; left: 0px;border-radius: 2.0px;background:''}

.group-25-2656{
position:absolute ;width: 218.5859375px; height: 29.986328125px;  background-color: rgba(255,255,255,1.0);top:1px; left: 478px;border-radius: 2.0px;background:''}

.group-25-2657{
position:absolute ;width: 180.021484375px; height: 12.464111328125px;  background-color: rgba(0,0,0,0.0);top:8px; left: 18px;border-radius: 2.0px;background:''}

.group-25-2658{
position:absolute ;width: 180.021484375px; height: 12.464111328125px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;border-radius: 2.0px;background:''}

.group-25-2659{
position:absolute ;width: 180.021484375px; height: 12.464111328125px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;border-radius: 2.0px;background:''}

.group-25-2660{
position:absolute ;width: 180.021484375px; height: 12.464111328125px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;border-radius: 2.0px;background:''}

.text-25-2661{
position: absolute;
left: 16.85009765625px;
 top: 2.138671875px;
 width: 69.98388671875px;
 height: 8.3203125px;
font-size: 10.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Regular; font-weight: 400;
}

.text-25-2662{
position: absolute;
left: 130.42724609375px;
 top: 0.146484375px;
 width: 24.63037109375px;
 height: 12.198974609375px;
font-size: 10.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.vector-25-2663{
position: absolute;left: 0.39453125px; top: 1.138671875px; width: 10.11181640625px; height: 10.19384765625}

.text-25-2665{
position: absolute;
left: 158.20068359375px;
 top: 2.1484375px;
 width: 22.19970703125px;
 height: 7.635009765625px;
font-size: 8.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Medium; font-weight: 400;
}

.group-25-2666{
position:absolute ;width: 196.41064453125px; height: 29.986328125px;  background-color: rgba(255,255,255,1.0);top:1px; left: 707px;border-radius: 2.0px;background:''}

.group-25-2667{
position:absolute ;width: 160.6455078125px; height: 11.99658203125px;  background-color: rgba(0,0,0,0.0);top:8px; left: 11px;border-radius: 2.0px;background:''}

.group-25-2668{
position:absolute ;width: 160.6455078125px; height: 11.99658203125px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;border-radius: 2.0px;background:''}

.text-25-2669{
position: absolute;
left: 19.21142578125px;
 top: 3.72265625px;
 width: 52.33837890625px;
 height: 6.549072265625px;
font-size: 10.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Regular; font-weight: 400;
}

.group-25-2670{
position:absolute ;width: 61.8486328125px; height: 11.731201171875px;  background-color: rgba(0,0,0,0.0);top:1px; left: 98px;background:''}

.text-25-2671{
position: absolute;
left: 0.79736328125px;
 top: -0.823974609375px;
 width: 61.8193359375px;
 height: 11.73095703125px;
font-size: 10.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Medium; font-weight: 400;
}

.vector-25-2672{
position: absolute;left: 0.01171875px; top: 2.0px; width: 12.39404296875px; height: 8.49072265625}

.group-25-2674{
position:absolute ;width: 227.0px; height: 30.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 914px;border-radius: 2.0px;background:''}

.group-25-2675{
position:absolute ;width: 197.76025390625px; height: 12.08837890625px;  background-color: rgba(0,0,0,0.0);top:9px; left: 9px;border-radius: 2.0px;background:''}

.group-25-2676{
position:absolute ;width: 197.76025390625px; height: 12.08837890625px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;border-radius: 2.0px;background:''}

.vector-25-2677{
position: absolute;left: 0.990234375px; top: 1.0390625px; width: 10.16015625px; height: 10.19580078125}

.group-25-2679{
position:absolute ;width: 182.52197265625px; height: 12.06298828125px;  background-color: rgba(0,0,0,0.0);top:0px; left: 16px;background:''}

.group-25-2680{
position:absolute ;width: 47.63916015625px; height: 9.3876953125px;  background-color: rgba(0,0,0,0.0);top:3px; left: 0px;background:''}

.text-25-2681{
position: absolute;
left: 0.23486328125px;
 top: -0.923828125px;
 width: 47.62451171875px;
 height: 9.3876953125px;
font-size: 10.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Regular; font-weight: 400;
}

.group-25-2682{
position:absolute ;width: 60.61181640625px; height: 11.860107421875px;  background-color: rgba(0,0,0,0.0);top:0px; left: 122px;background:''}

.group-25-2683{
position:absolute ;width: 60.61181640625px; height: 11.860107421875px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.text-25-2684{
position: absolute;
left: 0.12646484375px;
 top: -0.00390625px;
 width: 60.61181640625px;
 height: 11.840087890625px;
font-size: 10.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Medium; font-weight: 400;
}

.group-25-2685{
position:absolute ;width: 246.041015625px; height: 29.986328125px;  background-color: rgba(255,255,255,1.0);top:1px; left: 221px;border-radius: 2.0px;background:''}

.group-25-2686{
position:absolute ;width: 207.1396484375px; height: 12.572021484375px;  background-color: rgba(0,0,0,0.0);top:9px; left: 14px;border-radius: 2.0px;background:''}

.group-25-2687{
position:absolute ;width: 207.1396484375px; height: 12.572021484375px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;border-radius: 2.0px;background:''}

.group-25-2688{
position:absolute ;width: 207.1396484375px; height: 12.572021484375px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;border-radius: 2.0px;background:''}

.text-25-2689{
position: absolute;
left: 17.78662109375px;
 top: 0.01171875px;
 width: 110.67041015625px;
 height: 12.12353515625px;
font-size: 10.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Regular; font-weight: 400;
}

.text-25-2690{
position: absolute;
left: 195.03857421875px;
 top: 0.0859375px;
 width: 12.6689453125px;
 height: 10.63232421875px;
font-size: 10.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.vector-25-2691{
position: absolute;left: 0.58203125px; top: 0.0px; width: 15.02490234375px; height: 10.201171875}

.group-25-2693{
position:absolute ;width: 211.19384765625px; height: 29.999755859375px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-radius: 2.0px;background:''}

.group-25-2694{
position:absolute ;width: 170.23779296875px; height: 12.42041015625px;  background-color: rgba(0,0,0,0.0);top:9px; left: 18px;border-radius: 2.0px;background:''}

.group-25-2695{
position:absolute ;width: 170.23779296875px; height: 12.40380859375px;  background-color: rgba(0,0,0,0.0);top:1px; left: 0px;border-radius: 2.0px;background:''}

.text-25-2696{
position: absolute;
left: 17.25048828125px;
 top: -0.83984375px;
 width: 76.365234375px;
 height: 12.12158203125px;
font-size: 10.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Regular; font-weight: 400;
}

.text-25-2697{
position: absolute;
left: 158.24658203125px;
 top: 0.0px;
 width: 12.1025390625px;
 height: 11.017333984375px;
font-size: 10.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.vector-25-2698{
position: absolute;left: 0.12890625px; top: -0.98828125px; width: 11.49609375px; height: 10.939697265625}

.vector-25-2704{
position: absolute;left: 1152.0px; top: 0.0px; width: 168.0px; height: 70.0}

.group-25-3065{
position:absolute ;width: 296.0px; height: 87.0px;  background-color: rgba(0,0,0,0.0);top:253px; left: 1063px;border-radius: 2.0px;background:''}

.group-25-3066{
position:absolute ;width: 296.0px; height: 87.0px;  background-color: rgba(222,246,243,1.0);top:0px; left: 0px;border-radius: 2.0px;box-shadow: 0.0px 1.0px 15.0px rgba(0, 0, 0, 0.05000000074505806);background:''}

.text-25-3067{
position: absolute;
left: 34.205078125px;
 top: 12.302734375px;
 width: 98.49951171875px;
 height: 7.1103515625px;
font-size: 12.0px; color: rgba(0, 183, 162, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.text-25-3068{
position: absolute;
left: 34.20263671875px;
 top: 29.0px;
 width: 84.02001953125px;
 height: 8.068115234375px;
font-size: 12.0px; color: rgba(0, 183, 162, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.text-25-3069{
position: absolute;
left: 122.203125px;
 top: 46.0px;
 width: 169.0px;
 height: 29.0px;
font-size: 41.0px; color: rgba(0, 183, 162, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.vector-25-3070{
position: absolute;left: 8.203125px; top: 16.0px; width: 17.0px; height: 17.0}

.group-25-3072{
position:absolute ;width: 43.0px; height: 15.0px;  background-color: rgba(255,255,255,1.0);top:60px; left: 76px;border-radius: 2.0px;background:''}

.vector-25-3073{
position: absolute;left: 2.203125px; top: 3.0px; width: 10.0px; height: 10.0}

.text-25-3075{
position: absolute;
left: 12.0283203125px;
 top: 5.0px;
 width: 29.0185546875px;
 height: 6.018798828125px;
font-size: 9.0px; color: rgba(0, 183, 162, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.vector-25-3076{
position: absolute;left: 10.0px; top: 62.0px; width: 20.99169921875px; height: 13.435791015625}

.group-25-3081{
position:absolute ;width: 1320.0px; height: 30.0px;  background-color: rgba(0,0,0,0.0);top:352px; left: 30px;background:''}

.dropdown-25-3082{
position: absolute;left: 0.0px; top: 0.0px;background-color: rgba(239, 242, 245, 1.0);; width: 165.0px; height: 30.0px;
font-size: 12.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-SemiBold;
}

.dropdown-25-3092{
position: absolute;left: 188.0px; top: 0.0px;background-color: rgba(239, 242, 245, 1.0);; width: 165.0px; height: 30.0px;
font-size: 12.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-SemiBold;
}

.dropdown-25-3096{
position: absolute;left: 364.0px; top: 0.0px;background-color: rgba(239, 242, 245, 1.0);; width: 210.0px; height: 30.0px;
font-size: 12.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-SemiBold;
}

.vector-25-3089{
position: relative; width: 16.0px; height: 16.0}

.btn-25-3086{
position: absolute;
left: 808.0px;
 top: 0.0px;
 width: 163.00537109375px;
 height: 28.0px;
border-radius: 2.0px; background-color: rgba(255, 220, 216, 1.0);
 cursor: pointer;
font-size: 12.0px; color: rgba(255, 115, 99, 1.0); font-family: Gilroy-SemiBold; text-transform: uppercase; font-weight: 400;
}

.dropdown-25-3113{
position: absolute;left: 987.0px; top: 0.0px;background-color: rgba(239, 242, 245, 1.0);; width: 117.0px; height: 29.30224609375px;
font-size: 12.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-SemiBold;
}

.group-25-3100{
position:absolute ;width: 186.0px; height: 29.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 1115px;background:''}

.group-25-3101{
position:absolute ;width: 186.0px; height: 29.0px;  background-color: rgba(239,242,245,1.0);top:0px; left: 0px;border-radius: 2.0px;box-shadow: 0.0px 1.0px 15.0px rgba(0, 0, 0, 0.05000000074505806);background:''}

.text-25-3102{
position: absolute;
left: 10.0px;
 top: 11.0px;
 width: 17.0px;
 height: 8.0px;
font-size: 12.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.text-25-3103{
position: absolute;
left: 73.0px;
 top: 11.0px;
 width: 18.0px;
 height: 8.0px;
font-size: 12.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.text-25-3104{
position: absolute;
left: 105.0px;
 top: 11.0px;
 width: 20.0px;
 height: 8.0px;
font-size: 12.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.text-25-3105{
position: absolute;
left: 134.0px;
 top: 11.0px;
 width: 20.0px;
 height: 8.0px;
font-size: 12.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.vector-25-3106{
position: absolute;left: 163.0px; top: 7.0px; width: 15.0px; height: 15.0}

.text-25-3108{
position: absolute;
left: 41.0px;
 top: 11.0px;
 width: 18.0px;
 height: 8.0px;
font-size: 12.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.vector-25-3109{
position: absolute;left: 1307.0px; top: 7.0px; width: 13.0px; height: 20.0}

.vector-25-2824{
position: absolute;left: 18.0px; top: 396.0px; width: 1341.0px; height: 588.0}

.group-25-3122{
position:absolute ;width: 1377.0px; height: 256.0px;  background-color: rgba(255,255,255,1.0);top:1003px; left: 0px;background:''}

.group-25-3123{
position:absolute ;width: 1377.0px; height: 154.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-25-3124{
position:absolute ;width: 1377.0px; height: 110.0px;  background-color: rgba(255,255,255,1.0);top:44px; left: 0px;background:''}

.group-25-3125{
position:absolute ;width: 1377.0px; height: 44.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-25-3126{
position:absolute ;width: 1377.0px; height: 44.0px;  background-color: rgba(34,52,132,1.0);top:0px; left: 0px;background:''}

.group-25-3137{
position:absolute ;width: 242.88623046875px; height: 24.0px;  background-color: rgba(0,0,0,0.0);top:10px; left: 10px;background:''}

.vector-25-3139{
position: absolute;left: 0.0390625px; top: 0.0px; width: 24.087890625px; height: 24.0}

.text-25-3138{
position: absolute;
left: 35.16796875px;
 top: 7.0px;
 width: 207.75732421875px;
 height: 11.0px;
font-size: 16.0px; color: rgba(255, 255, 255, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.group-25-3127{
position:absolute ;width: 63.93701171875px; height: 28.0px;  background-color: rgba(0,0,0,0.0);top:8px; left: 1301px;border-radius: 2.0px;background:''}

.vector-25-3130{
position: relative; width: 18.0625px; height: 18.0}

.btn-25-3128{
position: absolute;
left: 0.0px;
 top: 0.0px;
 width: 28.0625px;
 height: 28.0px;
border-radius: 2.0px; background-color: rgba(255, 255, 255, 1.0);
 cursor: pointer;

}

.vector-25-3134{
position: relative; width: 18.06591796875px; height: 18.0}

.btn-25-3132{
position: absolute;
left: 35.87109375px;
 top: 0.0px;
 width: 28.06591796875px;
 height: 28.0px;
border-radius: 2.0px; background-color: rgba(74, 87, 145, 1.0);
 cursor: pointer;

}

.vector-25-3146{
position: absolute;left: 671.0px; top: 116.0px; width: 34.0px; height: 34.0}

.group-25-3143{
position:absolute ;width: 270.0px; height: 25.0px;  background-color: rgba(0,0,0,0.0);top:166px; left: 553px;border-radius: 7.0px;background:''}

.group-25-3144{
position:absolute ;width: 270.0px; height: 25.0px;  background-color: rgba(255,255,255,0.47999998927116394);top:0px; left: 0px;border-radius: 7.0px;background:''}

.text-25-3145{
position: absolute;
left: 16.05859375px;
 top: 6.0px;
 width: 238.884765625px;
 height: 13.0px;
font-size: 14.0px; color: rgba(34, 52, 132, 1.0); font-family: Inter; font-weight: 500;
}

.group-25-3168{
position:absolute ;width: 1440.0px; height: 80.0px;  background-color: rgba(0,0,0,0.0);top:73px; left: calc( ( ( 100% - 1440px) / 2 ) + 0px);background:''}

.group-25-3169{
position:absolute ;width: 1440.0px; height: 80.0px;  background-color: rgba(244,244,244,1.0);top:0px; left: 0px;background:''}

.text-25-3170{
position: absolute;
left: 25.0px;
 top: 19.0px;
 width: 167.0px;
 height: 29.0px;
font-size: 24.0px; color: rgba(23, 23, 54, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.vector-25-3172{
position: absolute;left: 222.0px; top: 11.0px; width: 1.0px; height: 46.0}

.text-25-3171{
position: absolute;
left: 252.0px;
 top: 17.0px;
 width: 393.0px;
 height: 34.0px;
font-size: 14.0px; color: rgba(23, 23, 54, 1.0); font-family: Gilroy-Regular; font-weight: 400;
}

.group-25-3173{
position:absolute ;width: 1440.0px; height: 73.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: calc( ( ( 100% - 1440px) / 2 ) + 0px);background:''}

.group-25-3174{
position:absolute ;width: 1440.0px; height: 73.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;background:''}

.vector-25-3178{
position: absolute;left: 22.0px; top: 24.0px; width: 155.53857421875px; height: 33.976318359375}

.vector-25-3203{
position: absolute;left: 191.0px; top: 0.0px; width: 1.0px; height: 73.0}

.vector-25-3212{
position: relative; width: 24.0px; height: 24.0}

.btn-25-3209{
position: absolute;
left: 222.0px;
 top: 20.0px;
 width: 156.0px;
 height: 36.0px;
 background-color: rgba(34, 52, 132, 1.0);
 cursor: pointer;
font-size: 12.0px; color: rgba(255, 255, 255, 1.0); font-family: Gilroy-Bold; text-transform: uppercase; font-weight: 400;
}

.vector-25-3204{
position: absolute;left: 1326.0px; top: 23.0px; width: 30.0px; height: 30.0}

.vector-25-3175{
position: absolute;left: 1374.0px; top: 23.0px; width: 30.0px; height: 30.0}