<div class="corenotescommon-6-41" name="Core@Notes#Common">
 <div class="group-6-42" name="Group">
 </div>
 <div class="group-6-43" name="Group">
  <div class="group-6-44" name="Group">
  </div>
  <div class="group-6-45" name="Group">
   <label class="text-6-46" type="text" value="Notes">
    Notes
   </label>
   <img class="vector-6-47" src="assets/images/Core/notes/vector-6_47.svg"/>
  </div>
  <img class="vector-6-49" src="assets/images/Core/notes/vector-6_49.svg"/>
 </div>
 <div class="group-6-54" name="Group">
  <div class="group-6-55" name="Group">
   <label class="text-6-56" type="text" value="921409198-87861">
    921409198-87861
   </label>
   <img class="vector-6-57" src="assets/images/Core/notes/vector-6_57.svg"/>
  </div>
  <label class="text-6-62" type="text" value="Base Line Name Abcd">
   Base Line Name Abcd
  </label>
 </div>
 <div class="group-6-63" name="Group">
  <div class="group-6-64" name="Group">
   <div class="group-6-65" name="Group">
   </div>
   <img class="img-6-66" src="assets/images/Core/notes/img-6_66.png"/>
   <label class="text-6-67" type="text" value="Lorem ipsum dolor sit amet">
    Lorem ipsum dolor sit amet
   </label>
   <label class="text-6-68" type="text" value="Lorem ipsum dolor sit amet consectetur. Faucibus mattis malesuada arcu vestibulum odio blandit risus facilisi mauris. Feugiat cras tristique tincidunt dignissim. Cursus commodo quam sed eget sit tristique platea. Felis tellus congue pharetra donec est. Velit massa purus eget luctus. Nullam molestie euismod mi est viverra pharetra accumsan.">
    Lorem ipsum dolor sit amet consectetur. Faucibus mattis malesuada arcu vestibulum odio blandit risus facilisi mauris. Feugiat cras tristique tincidunt dignissim. Cursus commodo quam sed eget sit tristique platea. Felis tellus congue pharetra donec est. Velit massa purus eget luctus. Nullam molestie euismod mi est viverra pharetra accumsan.
   </label>
   <label class="text-6-69" type="text" value=" Created On: 23rd June, 2022 at 03:50 AM">
    Created On: 23rd June, 2022 at 03:50 AM
   </label>
   <label class="text-6-70" type="text" value=" Last Updated: 26th August, 2022 ">
    Last Updated: 26th August, 2022
   </label>
  </div>
  <div class="group-6-71" name="Group">
   <div class="group-6-72" name="Group">
   </div>
   <div class="group-6-73" name="Group">
    <img class="img-6-74" src="assets/images/Core/notes/img-6_74.png"/>
    <label class="text-6-75" type="text" value="Lorem ipsum dolor sit amet">
     Lorem ipsum dolor sit amet
    </label>
    <button class="btn-6-76" type="button">
     <img class="vector-6-78" src="assets/images/Core/notes/vector-6_78.svg"/>
    </button>
    <button class="btn-6-81" type="button">
     <img class="vector-6-83" src="assets/images/Core/notes/vector-6_83.svg"/>
    </button>
   </div>
   <label class="text-6-85" type="text" value="Lorem ipsum dolor sit amet consectetur. Faucibus mattis malesuada arcu vestibulum odio blandit risus facilisi mauris. Feugiat cras tristique tincidunt dignissim. Cursus commodo quam sed eget sit tristique platea. Felis tellus congue pharetra donec est. Velit massa purus eget luctus. Nullam molestie euismod mi est viverra pharetra accumsan.">
    Lorem ipsum dolor sit amet consectetur. Faucibus mattis malesuada arcu vestibulum odio blandit risus facilisi mauris. Feugiat cras tristique tincidunt dignissim. Cursus commodo quam sed eget sit tristique platea. Felis tellus congue pharetra donec est. Velit massa purus eget luctus. Nullam molestie euismod mi est viverra pharetra accumsan.
   </label>
   <label class="text-6-86" type="text" value=" Created On: 23rd June, 2022 at 03:50 AM">
    Created On: 23rd June, 2022 at 03:50 AM
   </label>
   <label class="text-6-87" type="text" value=" Last Updated: 26th August, 2022 ">
    Last Updated: 26th August, 2022
   </label>
  </div>
  <div class="group-6-88" name="Group">
   <div class="group-6-89" name="Group">
   </div>
   <img class="vector-6-90" src="assets/images/Core/notes/vector-6_90.svg"/>
   <label class="text-6-91" type="text" value="Type  Title....">
    Type  Title....
   </label>
   <img class="vector-6-92" src="assets/images/Core/notes/vector-6_92.svg"/>
   <label class="text-6-114" type="text" value="Type  ....">
    Type  ....
   </label>
   <button class="btn-6-115" type="button">
    Create
   </button>
  </div>
 </div>
</div>
