<div class="corebaselinecreationorcommon-39-2118" name="Core@Baseline creation OR#Common">
 <div class="group-39-2119" name="Group">
 </div>
 <div class="group-39-2120" name="Group">
  <div class="group-39-2940" name="Group">
   <div class="group-39-2941" name="Group">
   </div>
   <select class="dropdown-39-2942">
    <option selected="" value="">
     Resource Group
    </option>
   </select>
   <div class="group-39-2948" name="Group">
    <div class="group-39-2949" name="Group">
    </div>
    <label class="text-39-2950" type="text" value="6 AM  -  2 PM">
     6 AM  -  2 PM
    </label>
   </div>
   <div class="group-39-2945" name="Group">
    <div class="group-39-2946" name="Group">
    </div>
    <label class="text-39-2947" type="text" value="2 PM  -  9 PM">
     2 PM  -  9 PM
    </label>
   </div>
  </div>
  <div class="group-39-2923" name="Group">
   <div class="group-39-2924" name="Group">
   </div>
   <div class="group-39-2925" name="Group">
    <label class="text-39-2939" type="text" value="Base Line Name 001">
     Base Line Name 001
    </label>
    <div class="group-39-2926" name="Group">
     <div class="group-39-2931" name="Group">
      <div class="group-39-2933" name="Group">
       <div class="group-39-2934" name="Group">
       </div>
       <img class="vector-39-2935" src="assets/images/Core/baseline-creation-or/vector-39_2935.svg"/>
       <label class="text-39-2937" type="text" value="Base Line ID">
        Base Line ID
       </label>
      </div>
      <label class="text-39-2932" type="text" value="921409198-87861">
       921409198-87861
      </label>
     </div>
     <label class="text-39-2938" type="text" value="Private">
      Private
     </label>
     <img class="vector-39-2927" src="assets/images/Core/baseline-creation-or/vector-39_2927.svg"/>
    </div>
   </div>
  </div>
  <div class="group-39-2882" name="Group">
   <div class="group-39-2883" name="Group">
   </div>
   <div class="group-39-2918" name="Group">
    <label class="text-39-2892" type="text" value="Department Type">
     Department Type
    </label>
    <img class="vector-39-2920" src="assets/images/Core/baseline-creation-or/vector-39_2920.svg"/>
    <label class="text-39-2919" type="text" value="Operating 
Room">
     Operating 
Room
    </label>
   </div>
   <img class="vector-39-2895" src="assets/images/Core/baseline-creation-or/vector-39_2895.svg"/>
   <div class="group-55-2119" name="Group">
    <label class="text-39-2897" type="text" value="Department Group">
     Department Group
    </label>
    <img class="vector-39-2915" src="assets/images/Core/baseline-creation-or/vector-39_2915.svg"/>
    <label class="text-39-2914" type="text" value="Site1_OR">
     Site1_OR
    </label>
   </div>
   <img class="vector-39-2898" src="assets/images/Core/baseline-creation-or/vector-39_2898.svg"/>
   <div class="group-55-2118" name="Group">
    <label class="text-39-2900" type="text" value="Ratio Scale">
     Ratio Scale
    </label>
    <label class="text-39-2894" type="text" value="01">
     01
    </label>
   </div>
   <img class="vector-39-2901" src="assets/images/Core/baseline-creation-or/vector-39_2901.svg"/>
   <div class="group-39-2902" name="Group">
    <label class="text-39-2903" type="text" value="number of weeks">
     number of weeks
    </label>
    <label class="text-39-2905" type="text" value="03">
     03
    </label>
    <label class="text-39-2906" type="text" value="Weeks">
     Weeks
    </label>
   </div>
   <img class="vector-39-2907" src="assets/images/Core/baseline-creation-or/vector-39_2907.svg"/>
   <div class="group-39-2884" name="Group">
    <label class="text-39-2909" type="text" value="start date">
     start date
    </label>
    <label class="text-39-2885" type="text" value="02">
     02
    </label>
    <label class="text-39-2886" type="text" value="Jan 2023">
     Jan 2023
    </label>
   </div>
   <img class="vector-39-2910" src="assets/images/Core/baseline-creation-or/vector-39_2910.svg"/>
   <div class="group-39-2887" name="Group">
    <label class="text-39-2912" type="text" value="end date">
     end date
    </label>
    <label class="text-39-2888" type="text" value="23">
     23
    </label>
    <label class="text-39-2889" type="text" value="Jan 2023">
     Jan 2023
    </label>
   </div>
  </div>
  <img class="vector-39-2128" src="assets/images/Core/baseline-creation-or/vector-39_2128.svg"/>
  <div class="group-39-2121" name="Group">
   <div class="group-39-2125" name="Group">
    <div class="group-39-2126" name="Group">
    </div>
    <label class="text-39-2127" type="text" value="Cancel">
     Cancel
    </label>
   </div>
   <div class="group-39-2122" name="Group">
    <div class="group-39-2123" name="Group">
    </div>
    <label class="text-39-2124" type="text" value="Run">
     Run
    </label>
   </div>
  </div>
 </div>
</div>
