

.corebaselinecreationorcommon-39-2118{
position:'' ;width: 100%; height: auto;  background-color: rgba(244,244,244,1.0);top:0px; left: 0;background:''}

.group-39-2119{
position:absolute ;width: 1372.0px; height: 1096.0px;  background-color: rgba(255,255,255,1.0);top:201px; left: calc( ( ( 100% - 1440px) / 2 ) + 28px);background:''}

.group-39-2120{
position:absolute ;width: 1141.0px; height: 1096.0px;  background-color: rgba(255,255,255,1.0);top:201px; left: calc( ( ( 100% - 1440px) / 2 ) + 248px);background:''}

.group-39-2940{
position:absolute ;width: 1140.0px; height: 44.0px;  background-color: rgba(0,0,0,0.0);top:10px; left: 1px;background:''}

.group-39-2941{
position:absolute ;width: 1140.0px; height: 44.0px;  background-color: rgba(219,222,235,1.0);top:0px; left: 0px;border-radius: 7.0px;background:''}

.dropdown-39-2942{
position: absolute;left: 7.0px; top: 7.0px;; width: 210.0px; height: 30.0px;
font-size: 12.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-SemiBold;
}

.group-39-2948{
position:absolute ;width: 117.0px; height: 31.0px;  background-color: rgba(0,0,0,0.0);top:7px; left: 892px;border-radius: 4.0px;background:''}

.group-39-2949{
position:absolute ;width: 117.0px; height: 31.0px;  background-color: rgba(239,242,245,1.0);top:0px; left: 0px;border-radius: 4.0px;border-color:rgba(255, 255, 255, 1.0);border-style:solid;background:''}

.text-39-2950{
position: absolute;
left: 17.0px;
 top: 11.0px;
 width: 84.0px;
 height: 10.0px;
font-size: 14.0px; color: rgba(44, 41, 41, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.group-39-2945{
position:absolute ;width: 117.0px; height: 31.0px;  background-color: rgba(0,0,0,0.0);top:7px; left: 1016px;border-radius: 4.0px;background:''}

.group-39-2946{
position:absolute ;width: 117.0px; height: 31.0px;  background-color: rgba(239,242,245,1.0);top:0px; left: 0px;border-radius: 4.0px;border-color:rgba(255, 255, 255, 1.0);border-style:solid;background:''}

.text-39-2947{
position: absolute;
left: 17.0px;
 top: 11.0px;
 width: 83.0px;
 height: 10.0px;
font-size: 14.0px; color: rgba(44, 41, 41, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.group-39-2923{
position:absolute ;width: 1141.0px; height: 44.0px;  background-color: rgba(0,0,0,0.0);top:74px; left: 0px;background:''}

.group-39-2924{
position:absolute ;width: 1141.0px; height: 44.0px;  background-color: rgba(219,222,235,1.0);top:0px; left: 0px;background:''}

.group-39-2925{
position:absolute ;width: 351.0px; height: 22.0px;  background-color: rgba(0,0,0,0.0);top:13px; left: 20px;background:''}

.text-39-2939{
position: absolute;
left: 0.0px;
 top: 6.0px;
 width: 149.0px;
 height: 10.0px;
font-size: 14.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.group-39-2926{
position:absolute ;width: 306.0px; height: 22.0px;  background-color: rgba(0,0,0,0.0);top:2px; left: 809px;background:''}

.group-39-2931{
position:absolute ;width: 205.0px; height: 22.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-39-2933{
position:absolute ;width: 105.0px; height: 22.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-39-2934{
position:absolute ;width: 105.0px; height: 22.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-radius: 4.0px;background:''}

.vector-39-2935{
position: absolute;left: 4.0px; top: 4.0px; width: 13.0px; height: 13.0}

.text-39-2937{
position: absolute;
left: 24.0px;
 top: 7.0px;
 width: 69.0px;
 height: 7.0px;
font-size: 10.0px; color: rgba(33, 150, 243, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.text-39-2932{
position: absolute;
left: 114.0px;
 top: 7.0px;
 width: 91.0px;
 height: 8.0px;
font-size: 12.0px; color: rgba(23, 23, 54, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.text-39-2938{
position: absolute;
left: 238.0px;
 top: 7.0px;
 width: 44.0px;
 height: 8.0px;
font-size: 12.0px; color: rgba(0, 0, 0, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.vector-39-2927{
position: absolute;left: 282.0px; top: 0.0px; width: 24.0px; height: 22.0}

.group-39-2882{
position:absolute ;width: 1138.0px; height: 152.0001220703125px;  background-color: rgba(0,0,0,0.0);top:139px; left: 0px;background:''}

.group-39-2883{
position:absolute ;width: 1138.0px; height: 152.0px;  background-color: rgba(255,255,255,1.0);top:1px; left: 0px;border-radius: 4.0px;border-color:rgba(166, 208, 244, 1.0);border-style:solid;background:''}

.group-39-2918{
position:absolute ;width: 119.017578125px; height: 83.55194091796875px;  background-color: rgba(0,0,0,0.0);top:28px; left: 29px;background:''}

.text-39-2892{
position: absolute;
left: 1.0px;
 top: 0.44805908203125px;
 width: 118.017578125px;
 height: 17.31378173828125px;
font-size: 12.0px; color: rgba(39, 39, 39, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.vector-39-2920{
position: absolute;left: 0.0px; top: 48.0px; width: 13.0px; height: 12.0}

.text-39-2919{
position: absolute;
left: 21.0px;
 top: 48.0px;
 width: 93.0px;
 height: 36.0px;
font-size: 18.0px; color: rgba(33, 150, 243, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.vector-39-2895{
position: absolute;left: 176.0px; top: 0.0px; width: 1.0px; height: 152.0}

.group-55-2119{
position:absolute ;width: 133.017578125px; height: 63.001007080078125px;  background-color: rgba(0,0,0,0.0);top:26px; left: 211px;background:''}

.text-39-2897{
position: absolute;
left: 0.0px;
 top: 0.998992919921875px;
 width: 133.017578125px;
 height: 17.383941650390625px;
font-size: 12.0px; color: rgba(39, 39, 39, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.vector-39-2915{
position: absolute;left: 13.0px; top: 51.0px; width: 13.0px; height: 12.0}

.text-39-2914{
position: absolute;
left: 32.0px;
 top: 51.0px;
 width: 72.0px;
 height: 13.0px;
font-size: 18.0px; color: rgba(33, 150, 243, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.vector-39-2898{
position: absolute;left: 386.0px; top: 0.0px; width: 1.0px; height: 152.0}

.group-55-2118{
position:absolute ;width: 83.00732421875px; height: 71.83547973632812px;  background-color: rgba(0,0,0,0.0);top:32px; left: 447px;background:''}

.text-39-2900{
position: absolute;
left: 0.00439453125px;
 top: 0.164520263671875px;
 width: 83.00732421875px;
 height: 8.388214111328125px;
font-size: 12.0px; color: rgba(39, 39, 39, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.text-39-2894{
position: absolute;
left: 17.0px;
 top: 44.0px;
 width: 39.0px;
 height: 28.0px;
font-size: 40.0px; color: rgba(33, 150, 243, 1.0); font-family: Gilroy-Medium; font-weight: 400;
}

.vector-39-2901{
position: absolute;left: 600.0px; top: 0.0px; width: 1.0px; height: 152.0}

.group-39-2902{
position:absolute ;width: 122.017578125px; height: 107.74392700195312px;  background-color: rgba(0,0,0,0.0);top:28px; left: 638px;background:''}

.text-39-2903{
position: absolute;
left: 0.052734375px;
 top: 0.4293212890625px;
 width: 122.017578125px;
 height: 17.332489013671875px;
font-size: 12.0px; color: rgba(39, 39, 39, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.text-39-2905{
position: absolute;
left: 35.0px;
 top: 47.999969482421875px;
 width: 46.0px;
 height: 28.0px;
font-size: 40.0px; color: rgba(33, 150, 243, 1.0); font-family: Gilroy-Medium; font-weight: 400;
}

.text-39-2906{
position: absolute;
left: 39.0px;
 top: 85.99996948242188px;
 width: 47.0px;
 height: 22.1732177734375px;
font-size: 14.0px; color: rgba(33, 150, 243, 1.0); font-family: Gilroy-Light; font-weight: 400;
}

.vector-39-2907{
position: absolute;left: 798.0px; top: 0.0px; width: 1.0px; height: 152.0}

.group-39-2884{
position:absolute ;width: 75.017578125px; height: 108.99923706054688px;  background-color: rgba(0,0,0,0.0);top:28px; left: 836px;background:''}

.text-39-2909{
position: absolute;
left: 0.0703125px;
 top: 0.000762939453125px;
 width: 75.017578125px;
 height: 17.112640380859375px;
font-size: 12.0px; color: rgba(39, 39, 39, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.text-39-2885{
position: absolute;
left: 15.0px;
 top: 48.0px;
 width: 46.0px;
 height: 28.0px;
font-size: 40.0px; color: rgba(33, 150, 243, 1.0); font-family: Gilroy-Medium; font-weight: 400;
}

.text-39-2886{
position: absolute;
left: 10.0px;
 top: 87.0px;
 width: 61.0px;
 height: 22.0px;
font-size: 14.0px; color: rgba(33, 150, 243, 1.0); font-family: Gilroy-Light; font-weight: 400;
}

.vector-39-2910{
position: absolute;left: 957.0px; top: 0.0px; width: 1.0px; height: 152.0}

.group-39-2887{
position:absolute ;width: 63.0px; height: 103.00094604492188px;  background-color: rgba(0,0,0,0.0);top:27px; left: 1023px;background:''}

.text-39-2912{
position: absolute;
left: 0.0px;
 top: 0.999053955078125px;
 width: 62.017578125px;
 height: 17.051849365234375px;
font-size: 12.0px; color: rgba(39, 39, 39, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.text-39-2888{
position: absolute;
left: 5.0px;
 top: 49.0px;
 width: 43.0px;
 height: 28.0px;
font-size: 40.0px; color: rgba(33, 150, 243, 1.0); font-family: Gilroy-Medium; font-weight: 400;
}

.text-39-2889{
position: absolute;
left: 0.0px;
 top: 87.0px;
 width: 63.0px;
 height: 17.0px;
font-size: 14.0px; color: rgba(33, 150, 243, 1.0); font-family: Gilroy-Light; font-weight: 400;
}

.vector-39-2128{
position: absolute;left: 0.0px; top: 307.0px; width: 1138.0px; height: 536.46142578125}

.group-39-2121{
position:absolute ;width: 176.0px; height: 40.0px;  background-color: rgba(0,0,0,0.0);top:890px; left: 965px;border-radius: 2.0px;background:''}

.group-39-2125{
position:absolute ;width: 81.0px; height: 40.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;border-radius: 2.0px;background:''}

.group-39-2126{
position:absolute ;width: 81.0px; height: 40.0px;  background-color: rgba(214,214,214,1.0);top:0px; left: 0px;border-radius: 2.0px;background:''}

.text-39-2127{
position: absolute;
left: 11.0px;
 top: 15.0px;
 width: 59.0px;
 height: 10.047607421875px;
font-size: 14.0px; color: rgba(140, 140, 140, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.group-39-2122{
position:absolute ;width: 81.0px; height: 40.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 95px;border-radius: 2.0px;background:''}

.group-39-2123{
position:absolute ;width: 81.0px; height: 40.0px;  background-color: rgba(34,52,132,1.0);top:0px; left: 0px;border-radius: 2.0px;background:''}

.text-39-2124{
position: absolute;
left: 26.0px;
 top: 15.0px;
 width: 30.0px;
 height: 10.0px;
font-size: 14.0px; color: rgba(255, 255, 255, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}