<div class="corebaselinelistfinal-25-5310" name="Core@Base line list Final">
 <div class="group-25-5311" name="Group">
  <div class="group-25-5312" name="Group">
  </div>
  <label class="text-25-5313" type="text" value="©2021 polarishealth.ai- All Rights Reserved.">
   ©2021 polarishealth.ai- All Rights Reserved.
  </label>
 </div>
 <div class="group-25-5314" name="Group">
  <div class="group-25-5315" name="Group">
  </div>
  <div class="group-25-5316" name="Group">
   <div class="group-25-5317" name="Group">
   </div>
   <img class="vector-25-5318" src="assets/images/Core/base-line-list-final/vector-25_5318.svg"/>
   <div class="group-25-5319" name="Group">
   </div>
   <div class="group-25-5320" name="Group">
    <div class="group-25-5321" name="Group">
    </div>
    <img class="vector-25-5322" src="assets/images/Core/base-line-list-final/vector-25_5322.svg"/>
    <img class="vector-25-5323" src="assets/images/Core/base-line-list-final/vector-25_5323.svg"/>
    <div class="group-25-5334" name="Group">
     <img class="vector-25-5335" src="assets/images/Core/base-line-list-final/vector-25_5335.svg"/>
    </div>
   </div>
   <div class="group-25-5346" name="Group">
    <img class="img-25-5347" src="assets/images/Core/base-line-list-final/img-25_5347.png"/>
    <img class="img-25-5348" src="assets/images/Core/base-line-list-final/img-25_5348.png"/>
    <img class="img-25-5349" src="assets/images/Core/base-line-list-final/img-25_5349.png"/>
    <button class="btn-25-5350" type="button">
     +3
    </button>
   </div>
   <div class="group-25-5354" name="Group">
    <div class="group-25-5355" name="Group">
    </div>
    <div class="group-25-5356" name="Group">
     <img class="vector-25-5357" src="assets/images/Core/base-line-list-final/vector-25_5357.svg"/>
     <img class="vector-25-5359" src="assets/images/Core/base-line-list-final/vector-25_5359.svg"/>
     <input class="checkbox-25-5363" type="checkbox"/>
    </div>
   </div>
   <div class="group-25-5365" name="Group">
    <div class="group-25-5366" name="Group">
     <div class="group-25-5367" name="Group">
     </div>
     <img class="vector-25-5368" src="assets/images/Core/base-line-list-final/vector-25_5368.svg"/>
     <label class="text-25-5370" type="text" value="921409198-87861">
      921409198-87861
     </label>
     <label class="text-25-5371" type="text" value="Base Line ID">
      Base Line ID
     </label>
    </div>
    <div class="group-25-5372" name="Group">
     <div class="group-25-5373" name="Group">
     </div>
     <img class="vector-25-5374" src="assets/images/Core/base-line-list-final/vector-25_5374.svg"/>
     <label class="text-25-5376" type="text" value="Emergency Room">
      Emergency Room
     </label>
     <label class="text-25-5377" type="text" value="Dept: Type">
      Dept: Type
     </label>
    </div>
    <div class="group-25-5378" name="Group">
     <div class="group-25-5379" name="Group">
     </div>
     <img class="vector-25-5380" src="assets/images/Core/base-line-list-final/vector-25_5380.svg"/>
     <label class="text-25-5382" type="text" value="Site1_ED">
      Site1_ED
     </label>
     <label class="text-25-5383" type="text" value="Dept: Group">
      Dept: Group
     </label>
    </div>
    <div class="group-25-5384" name="Group">
     <div class="group-25-5385" name="Group">
     </div>
     <img class="vector-25-5386" src="assets/images/Core/base-line-list-final/vector-25_5386.svg"/>
     <label class="text-25-5388" type="text" value="Registered Nurses">
      Registered Nurses
     </label>
     <label class="text-25-5389" type="text" value="Resource Group">
      Resource Group
     </label>
    </div>
    <div class="group-25-5390" name="Group">
     <div class="group-25-5391" name="Group">
     </div>
     <img class="vector-25-5392" src="assets/images/Core/base-line-list-final/vector-25_5392.svg"/>
     <label class="text-25-5394" type="text" value="March 01,2023  10:33 AM">
      March 01,2023  10:33 AM
     </label>
     <label class="text-25-5395" type="text" value="Created On">
      Created On
     </label>
    </div>
    <div class="group-25-5396" name="Group">
     <button class="btn-25-5397" type="button">
      <img class="vector-25-5399" src="assets/images/Core/base-line-list-final/vector-25_5399.svg"/>
     </button>
     <button class="btn-25-5403" type="button">
      <img class="vector-25-5405" src="assets/images/Core/base-line-list-final/vector-25_5405.svg"/>
     </button>
    </div>
   </div>
   <div class="group-25-5409" name="Group">
    <select class="dropdown-25-5410">
     <option selected="" value="">
      Link To
     </option>
    </select>
   </div>
   <div class="group-25-5417" name="Group">
    <div class="group-25-5418" name="Group">
     <div class="group-25-5419" name="Group">
      <div class="group-25-5420" name="Group">
      </div>
      <img class="vector-25-5421" src="assets/images/Core/base-line-list-final/vector-25_5421.svg"/>
      <label class="text-25-5423" type="text" value="Description">
       Description
      </label>
     </div>
     <label class="text-25-5424" type="text" value="The schedule is being created, with Transition scale of 3, and Ratio scale of 1.  The shift duration can vary from 5 to 10 hours. The latest start for a shift is 2 PM.">
      The schedule is being created, with Transition scale of 3, and Ratio scale of 1.  The shift duration can vary from 5 to 10 hours. The latest start for a shift is 2 PM.
     </label>
    </div>
    <label class="text-25-5425" type="text" value="*The current shift data statistics show there is a good chance to find an optimal result.by optimising via what-if analysis.">
     *The current shift data statistics show there is a good chance to find an optimal result.by optimising via what-if analysis.
    </label>
   </div>
   <div class="group-25-5426" name="Group">
    <button class="btn-25-5427" type="button">
     <img class="vector-25-5429" src="assets/images/Core/base-line-list-final/vector-25_5429.svg"/>
    </button>
    <button class="btn-25-5432" type="button">
     <img class="vector-25-5434" src="assets/images/Core/base-line-list-final/vector-25_5434.svg"/>
    </button>
    <button class="btn-25-5437" type="button">
     <img class="vector-25-5439" src="assets/images/Core/base-line-list-final/vector-25_5439.svg"/>
    </button>
    <button class="btn-25-5446" type="button">
     <img class="vector-25-5448" src="assets/images/Core/base-line-list-final/vector-25_5448.svg"/>
    </button>
    <button class="btn-25-5452" type="button">
     <img class="vector-25-5454" src="assets/images/Core/base-line-list-final/vector-25_5454.svg"/>
    </button>
    <button class="btn-25-5458" type="button">
     <img class="vector-25-5460" src="assets/images/Core/base-line-list-final/vector-25_5460.svg"/>
    </button>
   </div>
   <div class="group-25-5462" name="Group">
    <img class="vector-25-5463" src="assets/images/Core/base-line-list-final/vector-25_5463.svg"/>
    <label class="text-25-5477" type="text" value="Base Line Name ABCD">
     Base Line Name ABCD
    </label>
   </div>
   <img class="vector-25-5478" src="assets/images/Core/base-line-list-final/vector-25_5478.svg"/>
   <div class="group-25-5479" name="Group">
    <div class="group-25-5480" name="Group">
    </div>
    <img class="vector-25-5481" src="assets/images/Core/base-line-list-final/vector-25_5481.svg"/>
    <label class="text-25-5489" type="text" value="Lorem ipsum dolor sit amet consectetur. Elementum nisl facilisis...
">
     Lorem ipsum dolor sit amet consectetur. Elementum nisl facilisis...
    </label>
    <button class="btn-25-5490" type="button">
     <img class="vector-25-5492" src="assets/images/Core/base-line-list-final/vector-25_5492.svg"/>
    </button>
   </div>
   <label class="text-25-5494" type="text" value="Collaborators">
    Collaborators
   </label>
  </div>
 </div>
 <div class="group-25-5495" name="Group">
  <div class="group-25-5496" name="Group">
  </div>
  <div class="group-25-5497" name="Group">
   <img class="vector-25-5498" src="assets/images/Core/base-line-list-final/vector-25_5498.svg"/>
   <label class="text-25-5503" type="text" value="Base Lines">
    Base Lines
   </label>
  </div>
  <button class="btn-25-5504" type="button">
   <img class="vector-25-5506" src="assets/images/Core/base-line-list-final/vector-25_5506.svg"/>
  </button>
  <button class="btn-25-5510" type="button">
   <img class="vector-25-5512" src="assets/images/Core/base-line-list-final/vector-25_5512.svg"/>
  </button>
 </div>
 <div class="group-25-5514" name="Group">
  <div class="group-25-5515" name="Group">
  </div>
  <label class="text-25-5516" type="text" value="Base line List">
   Base line List
  </label>
  <label class="text-25-5517" type="text" value="The main list of the ‘Base Lines’ section">
   The main list of the ‘Base Lines’ section
  </label>
  <img class="vector-25-5518" src="assets/images/Core/base-line-list-final/vector-25_5518.svg"/>
  <div class="group-25-5519" name="Group">
   <button class="btn-25-5520" type="button">
    <img class="vector-25-5522" src="assets/images/Core/base-line-list-final/vector-25_5522.svg"/>
    Create Base line
   </button>
  </div>
 </div>
 <div class="group-25-5525" name="Group">
  <div class="group-25-5526" name="Group">
  </div>
  <img class="vector-25-5527" src="assets/images/Core/base-line-list-final/vector-25_5527.svg"/>
  <img class="vector-25-5530" src="assets/images/Core/base-line-list-final/vector-25_5530.svg"/>
  <img class="vector-25-5555" src="assets/images/Core/base-line-list-final/vector-25_5555.svg"/>
  <img class="vector-25-5556" src="assets/images/Core/base-line-list-final/vector-25_5556.svg"/>
  <button class="btn-25-5560" type="button">
   <img class="vector-25-5563" src="assets/images/Core/base-line-list-final/vector-25_5563.svg"/>
   back to dashboard
  </button>
 </div>
</div>
