<div class="modulescreatebase-3-86" name="Modules@create Base">
 <div class="group-3-87" name="Group">
  <div class="group-3-88" name="Group">
  </div>
  <label class="text-3-89" type="text" value="©2021 polarishealth.ai- All Rights Reserved.">
   ©2021 polarishealth.ai- All Rights Reserved.
  </label>
 </div>
 <div class="group-3-90" name="Group">
  <div class="group-3-91" name="Group">
  </div>
 </div>
 <div class="group-3-92" name="Group">
  <div class="group-3-93" name="Group">
   <div class="group-3-94" name="Group">
   </div>
   <img class="vector-3-95" src="assets/images/Modules/create-base/vector-3_95.svg"/>
   <button class="btn-3-102" type="button">
    <img class="vector-3-105" src="assets/images/Modules/create-base/vector-3_105.svg"/>
    schedule type
   </button>
   <button class="btn-3-107" type="button">
    <img class="vector-3-110" src="assets/images/Modules/create-base/vector-3_110.svg"/>
    Distribution type
   </button>
   <button class="btn-3-112" type="button">
    <img class="vector-3-115" src="assets/images/Modules/create-base/vector-3_115.svg"/>
    Shift Distribution
   </button>
  </div>
  <div class="group-3-117" name="Group">
  </div>
  <div class="group-3-118" name="Group">
   <label class="text-3-119" type="text" value="Pick Base lines if you want">
    Pick Base lines if you want
   </label>
   <img class="vector-3-120" src="assets/images/Modules/create-base/vector-3_120.svg"/>
  </div>
 </div>
 <div class="group-3-125" name="Group">
  <div class="group-3-126" name="Group">
  </div>
  <label class="text-3-127" type="text" value="create What-if Analysis">
   create What-if Analysis
  </label>
  <label class="text-3-128" type="text" value="Steps to create a new What-if Analysis">
   Steps to create a new What-if Analysis
  </label>
  <img class="vector-3-129" src="assets/images/Modules/create-base/vector-3_129.svg"/>
 </div>
 <div class="group-3-130" name="Group">
  <div class="group-3-131" name="Group">
  </div>
  <img class="vector-3-132" src="assets/images/Modules/create-base/vector-3_132.svg"/>
  <img class="vector-3-135" src="assets/images/Modules/create-base/vector-3_135.svg"/>
  <img class="vector-3-160" src="assets/images/Modules/create-base/vector-3_160.svg"/>
  <img class="vector-3-161" src="assets/images/Modules/create-base/vector-3_161.svg"/>
  <button class="btn-3-165" type="button">
   <img class="vector-3-168" src="assets/images/Modules/create-base/vector-3_168.svg"/>
   back to dashboard
  </button>
 </div>
</div>
