

.modulescreatewhatifanalysiscommon-1-8880{
position:'' ;width: 100%; height: auto;  background-color: rgba(244,244,244,1.0);top:0px; left: 0;background:''}

.group-1-8884{
position:absolute ;width: 1373.0px; height: 1168.0px;  background-color: rgba(255,255,255,1.0);top:201px; left: calc( ( ( 100% - 1440px) / 2 ) + 27px);background:''}

.group-1-8885{
position:absolute ;width: 1373.0px; height: 1168.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;background:''}

.group-1-8887{
position:absolute ;width: 1141.0px; height: 44.0px;  background-color: rgba(0,0,0,0.0);top:11px; left: 221px;background:''}

.group-1-8888{
position:absolute ;width: 1141.0px; height: 44.0px;  background-color: rgba(219,222,235,1.0);top:0px; left: 0px;background:''}

.text-1-8903{
position: absolute;
left: 20.0px;
 top: 19.0px;
 width: 164.0px;
 height: 10.0px;
font-size: 14.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Medium; font-weight: 400;
}

.group-1-8890{
position:absolute ;width: 306.0px; height: 22.0px;  background-color: rgba(0,0,0,0.0);top:11px; left: 829px;background:''}

.group-1-8895{
position:absolute ;width: 205.0px; height: 22.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-1-8897{
position:absolute ;width: 105.0px; height: 22.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-1-8898{
position:absolute ;width: 105.0px; height: 22.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-radius: 4.0px;background:''}

.vector-1-8899{
position: absolute;left: 4.0px; top: 4.0px; width: 13.0px; height: 13.0}

.text-1-8901{
position: absolute;
left: 24.0px;
 top: 7.0px;
 width: 69.0px;
 height: 7.0px;
font-size: 10.0px; color: rgba(33, 150, 243, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.text-1-8896{
position: absolute;
left: 114.0px;
 top: 7.0px;
 width: 91.0px;
 height: 8.0px;
font-size: 12.0px; color: rgba(23, 23, 54, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.text-1-8902{
position: absolute;
left: 238.0px;
 top: 7.0px;
 width: 44.0px;
 height: 8.0px;
font-size: 12.0px; color: rgba(0, 0, 0, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.vector-1-8891{
position: absolute;left: 282.0px; top: 0.0px; width: 24.0px; height: 22.0}

.vector-1-8886{
position: absolute;left: 221.0px; top: 74.0px; width: 1166.0px; height: 1}

.group-1-8904{
position:absolute ;width: 1141.0px; height: 92.0px;  background-color: rgba(0,0,0,0.0);top:86px; left: 221px;background:''}

.group-1-8905{
position:absolute ;width: 374.0px; height: 92.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-1-8906{
position:absolute ;width: 374.0px; height: 49.0px;  background-color: rgba(0,0,0,0.0);top:43px; left: 0px;background:''}

.group-1-8907{
position:absolute ;width: 374.0px; height: 49.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-color:rgba(219, 222, 235, 1.0);border-style:solid;background:''}

.group-1-8908{
position:absolute ;width: 337.0px; height: 22.0px;  background-color: rgba(0,0,0,0.0);top:14px; left: 20px;background:''}

.text-1-8909{
position: absolute;
left: 0.0px;
 top: 6.0px;
 width: 134.0px;
 height: 10.0px;
font-size: 14.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Medium; font-weight: 400;
}

.group-1-8910{
position:absolute ;width: 374.0px; height: 44.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-1-8911{
position:absolute ;width: 374.0px; height: 44.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-1-8912{
position:absolute ;width: 374.0px; height: 44.0px;  background-color: rgba(219,222,235,1.0);top:0px; left: 0px;background:''}

.group-1-8913{
position:absolute ;width: 153.0px; height: 17.0px;  background-color: rgba(0,0,0,0.0);top:14px; left: 12px;background:''}

.text-1-8914{
position: absolute;
left: 0.0px;
 top: 0.0px;
 width: 153.0px;
 height: 17.0px;
font-size: 16.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.group-1-8915{
position:absolute ;width: 374.0px; height: 92.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 384px;background:''}

.group-1-8916{
position:absolute ;width: 374.0px; height: 49.0px;  background-color: rgba(0,0,0,0.0);top:43px; left: 0px;background:''}

.group-1-8917{
position:absolute ;width: 374.0px; height: 49.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-color:rgba(219, 222, 235, 1.0);border-style:solid;background:''}

.group-1-8918{
position:absolute ;width: 337.0px; height: 22.0px;  background-color: rgba(0,0,0,0.0);top:14px; left: 20px;background:''}

.text-1-8919{
position: absolute;
left: 0.0px;
 top: 6.0px;
 width: 67.0px;
 height: 10.0px;
font-size: 14.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Medium; font-weight: 400;
}

.group-1-8920{
position:absolute ;width: 374.0px; height: 44.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-1-8921{
position:absolute ;width: 374.0px; height: 44.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-1-8922{
position:absolute ;width: 374.0px; height: 44.0px;  background-color: rgba(219,222,235,1.0);top:0px; left: 0px;background:''}

.group-1-8923{
position:absolute ;width: 172.0px; height: 17.0px;  background-color: rgba(0,0,0,0.0);top:14px; left: 12px;background:''}

.text-1-8924{
position: absolute;
left: 0.0px;
 top: 0.0px;
 width: 172.0px;
 height: 17.0px;
font-size: 16.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.group-1-8925{
position:absolute ;width: 374.0px; height: 92.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 767px;background:''}

.group-1-8926{
position:absolute ;width: 374.0px; height: 49.0px;  background-color: rgba(0,0,0,0.0);top:43px; left: 0px;background:''}

.group-1-8927{
position:absolute ;width: 374.0px; height: 49.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-color:rgba(219, 222, 235, 1.0);border-style:solid;background:''}

.group-1-8928{
position:absolute ;width: 337.0px; height: 22.0px;  background-color: rgba(0,0,0,0.0);top:14px; left: 20px;background:''}

.text-1-8929{
position: absolute;
left: 0.0px;
 top: 6.0px;
 width: 150.0px;
 height: 10.0px;
font-size: 14.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Medium; font-weight: 400;
}

.group-1-8930{
position:absolute ;width: 374.0px; height: 44.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-1-8931{
position:absolute ;width: 374.0px; height: 44.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-1-8932{
position:absolute ;width: 374.0px; height: 44.0px;  background-color: rgba(219,222,235,1.0);top:0px; left: 0px;background:''}

.group-1-8933{
position:absolute ;width: 153.0px; height: 17.0px;  background-color: rgba(0,0,0,0.0);top:14px; left: 12px;background:''}

.text-1-8934{
position: absolute;
left: 0.0px;
 top: 0.0px;
 width: 153.0px;
 height: 17.0px;
font-size: 16.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.group-1-8935{
position:absolute ;width: 1141.0px; height: 44.0px;  background-color: rgba(0,0,0,0.0);top:210px; left: 221px;background:''}

.group-1-8936{
position:absolute ;width: 1141.0px; height: 44.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-radius: 1.0px;background:''}

.group-1-8937{
position:absolute ;width: 864.0px; height: 44.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.vector-1-8938{
position: absolute;left: 0.0px; top: 0.0px; width: 196.0px; height: 44.0}

.vector-1-8944{
position: absolute;left: 208.0px; top: 0.0px; width: 253.0px; height: 44.0}

.vector-1-8950{
position: absolute;left: 473.0px; top: 0.0px; width: 391.0px; height: 44.0}

.group-1-9350{
position:absolute ;width: 1142.0px; height: 301.0px;  background-color: rgba(0,0,0,0.0);top:286px; left: 222px;background:''}

.group-1-9424{
position:absolute ;width: 1141.0px; height: 97.205078125px;  background-color: rgba(0,0,0,0.0);top:0px; left: 1px;background:''}

.group-1-9425{
position:absolute ;width: 1141.0px; height: 44.205078125px;  background-color: rgba(0,0,0,0.0);top:53px; left: 0px;background:''}

.group-1-9426{
position:absolute ;width: 1141.0px; height: 44.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-radius: 1.0px;background:''}

.group-1-9427{
position:absolute ;width: 402.0px; height: 44.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-1-9428{
position:absolute ;width: 153.0px; height: 44.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-1-9429{
position:absolute ;width: 153.0px; height: 44.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-radius: 1.0px;border-color:rgba(231, 231, 231, 1.0);border-style:solid;background:''}

.vector-1-9430{
position: absolute;left: 12.0px; top: 15.0px; width: 14.0px; height: 14.0}

.text-1-9433{
position: absolute;
left: 35.0px;
 top: 17.0px;
 width: 98.0px;
 height: 10.0px;
font-size: 14.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.group-1-9434{
position:absolute ;width: 112.0px; height: 44.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 160px;background:''}

.group-1-9435{
position:absolute ;width: 112.0px; height: 44.0px;  background-color: rgba(230,243,254,1.0);top:0px; left: 0px;border-radius: 1.0px;border-color:rgba(33, 150, 243, 1.0);border-style:solid;background:''}

.vector-1-9436{
position: absolute;left: 12.0px; top: 15.0px; width: 14.0px; height: 14.0}

.text-1-9439{
position: absolute;
left: 35.0px;
 top: 17.0px;
 width: 54.0px;
 height: 10.0px;
font-size: 14.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.group-1-9440{
position:absolute ;width: 123.0px; height: 44.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 279px;background:''}

.group-1-9441{
position:absolute ;width: 123.0px; height: 44.0px;  background-color: rgba(240,240,240,1.0);top:0px; left: 0px;border-radius: 1.0px;border-color:rgba(231, 231, 231, 1.0);border-style:solid;background:''}

.vector-1-9442{
position: absolute;left: 12.0px; top: 15.0px; width: 14.0px; height: 14.0}

.text-1-9445{
position: absolute;
left: 35.0px;
 top: 17.0px;
 width: 65.0px;
 height: 10.0px;
font-size: 14.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.group-1-9446{
position:absolute ;width: 1141.0px; height: 44.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-1-9447{
position:absolute ;width: 1141.0px; height: 44.0px;  background-color: rgba(219,222,235,1.0);top:0px; left: 0px;background:''}

.group-1-9448{
position:absolute ;width: 265.0px; height: 28.0px;  background-color: rgba(0,0,0,0.0);top:8px; left: 10px;background:''}

.vector-1-9449{
position: absolute;left: 0.0px; top: -0.205078125px; width: 28.0px; height: 28.0}

.text-1-9458{
position: absolute;
left: 43.0px;
 top: 5.794921875px;
 width: 222.0px;
 height: 17.0px;
font-size: 16.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.group-1-9373{
position:absolute ;width: 1142.0px; height: 84.0px;  background-color: rgba(0,0,0,0.0);top:106px; left: 0px;background:''}

.group-1-9374{
position:absolute ;width: 265.0px; height: 84.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 877px;background:''}

.group-1-9375{
position:absolute ;width: 265.0px; height: 84.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-radius: 4.0px;border-color:rgba(166, 208, 244, 1.0);border-style:solid;background:''}

.group-1-9376{
position:absolute ;width: 99.0px; height: 58.8170166015625px;  background-color: rgba(0,0,0,0.0);top:14px; left: 83px;border-radius: 5.0px;background:''}

.text-1-9377{
position: absolute;
left: 7.0px;
 top: -0.2056884765625px;
 width: 84.03326416015625px;
 height: 19.1875px;
font-size: 12.0px; color: rgba(39, 39, 39, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.group-1-9378{
position:absolute ;width: 99.0px; height: 30.0px;  background-color: rgba(0,0,0,0.0);top:29px; left: 0px;border-radius: 5.0px;background:''}

.text-1-9379{
position: absolute;
left: 39.0px;
 top: 7.794921875px;
 width: 18.0px;
 height: 14.0px;
font-size: 14.0px; color: rgba(44, 41, 41, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.vector-1-9382{
position: relative; width: 8.0px; height: 3.0}

.btn-1-9380{
position: absolute;
left: 0.0px;
 top: -0.388671875px;
 width: 30.0px;
 height: 29.0px;
border-radius: 5.0px; background-color: rgba(130, 196, 248, 1.0);
 cursor: pointer;

}

.vector-1-9385{
position: relative; width: 12.0px; height: 12.0}

.btn-1-9383{
position: absolute;
left: 69.0px;
 top: -0.388671875px;
 width: 30.0px;
 height: 30.0px;
border-radius: 5.0px; background-color: rgba(33, 150, 243, 1.0);
 cursor: pointer;

}

.group-1-9386{
position:absolute ;width: 265.0px; height: 84.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-1-9387{
position:absolute ;width: 265.0px; height: 84.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-radius: 4.0px;border-color:rgba(166, 208, 244, 1.0);border-style:solid;background:''}

.group-1-9388{
position:absolute ;width: 123.03317260742188px; height: 62.000732421875px;  background-color: rgba(0,0,0,0.0);top:13px; left: 71px;border-radius: 5.0px;background:''}

.text-1-9389{
position: absolute;
left: 0.0px;
 top: -0.205810546875px;
 width: 123.03317260742188px;
 height: 19.2745361328125px;
font-size: 12.0px; color: rgba(39, 39, 39, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.group-1-9390{
position:absolute ;width: 87.0px; height: 34.0px;  background-color: rgba(0,0,0,0.0);top:28px; left: 18px;border-radius: 5.0px;background:''}

.text-1-9391{
position: absolute;
left: 39.0px;
 top: -0.205078125px;
 width: 9.0px;
 height: 34.0px;
font-size: 14.0px; color: rgba(44, 41, 41, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.vector-1-9394{
position: relative; width: 8.0px; height: 3.0}

.btn-1-9392{
position: absolute;
left: 0.0px;
 top: 1.611328125px;
 width: 30.0px;
 height: 29.0px;
border-radius: 5.0px; background-color: rgba(130, 196, 248, 1.0);
 cursor: pointer;

}

.vector-1-9397{
position: relative; width: 12.0px; height: 12.0}

.btn-1-9395{
position: absolute;
left: 57.0px;
 top: 1.611328125px;
 width: 30.0px;
 height: 30.0px;
border-radius: 5.0px; background-color: rgba(33, 150, 243, 1.0);
 cursor: pointer;

}

.group-1-9398{
position:absolute ;width: 265.0px; height: 84.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 292px;background:''}

.group-1-9399{
position:absolute ;width: 265.0px; height: 84.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-radius: 4.0px;border-color:rgba(166, 208, 244, 1.0);border-style:solid;background:''}

.group-1-9400{
position:absolute ;width: 123.0px; height: 58.95751953125px;  background-color: rgba(0,0,0,0.0);top:14px; left: 71px;background:''}

.input-1-9401{
position: absolute;
border-radius: 4.0px;
left: 0.0px; top: 27.60546875px; width: 123.0px; height: 31.1474609375px;
border-top-style: '';border-right-style: '';border-left-style: '';
border-color:rgba(130, 196, 248);border-style:solid}

.input-1-9401::placeholder{
color: rgba(130, 196, 248, 1.0) ;
}

.calendar-1-9401{
position: absolute;left: 23.0px; top: -0.20458984375px; width: 76.03329467773438px; height: 19.1695556640625px;
font-size: 12.0px; color: rgba(39, 39, 39, 1.0); font-family: Gilroy-Bold;
}

.vector-1-9404{
position: absolute;left: 98.0px; top: 34.6387939453125px; width: 15.0px; height: 16.7459716796875}

.group-1-9411{
position:absolute ;width: 265.0px; height: 84.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 584px;background:''}

.group-1-9412{
position:absolute ;width: 265.0px; height: 84.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-radius: 4.0px;border-color:rgba(166, 208, 244, 1.0);border-style:solid;background:''}

.group-1-9413{
position:absolute ;width: 123.0px; height: 58.9306640625px;  background-color: rgba(0,0,0,0.0);top:14px; left: 71px;background:''}

.input-1-9414{
position: absolute;
border-radius: 4.0px;
left: 0.0px; top: 27.578125px; width: 123.0px; height: 31.1474609375px;
border-top-style: '';border-right-style: '';border-left-style: '';
border-color:rgba(130, 196, 248);border-style:solid}

.input-1-9414::placeholder{
color: rgba(130, 196, 248, 1.0) ;
}

.calendar-1-9414{
position: absolute;left: 30.0px; top: -0.205078125px; width: 63.0333251953125px; height: 19.140625px;
font-size: 12.0px; color: rgba(39, 39, 39, 1.0); font-family: Gilroy-Bold;
}

.vector-1-9417{
position: absolute;left: 98.0px; top: 34.6114501953125px; width: 15.0px; height: 16.7459716796875}

.group-1-9351{
position:absolute ;width: 362.0px; height: 84.0px;  background-color: rgba(0,0,0,0.0);top:217px; left: 0px;background:''}

.group-1-9352{
position:absolute ;width: 362.0px; height: 84.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-1-9353{
position:absolute ;width: 362.0px; height: 84.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-radius: 4.0px;border-color:rgba(166, 208, 244, 1.0);border-style:solid;background:''}

.group-1-9354{
position:absolute ;width: 224.0px; height: 56.03125px;  background-color: rgba(0,0,0,0.0);top:14px; left: 69px;background:''}

.text-1-9355{
position: absolute;
left: 44.0px;
 top: -0.234375px;
 width: 136.03314208984375px;
 height: 19.3035888671875px;
font-size: 12.0px; color: rgba(39, 39, 39, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.vector-1-9356{
position: absolute;left: 0.0px; top: 22.796875px; width: 224.0px; height: 33.0}

.group-2-9807{
position:absolute ;width: 362.0px; height: 84.0px;  background-color: rgba(0,0,0,0.0);top:216px; left: 391px;background:''}

.group-2-9808{
position:absolute ;width: 362.0px; height: 84.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-radius: 4.0px;border-color:rgba(166, 208, 244, 1.0);border-style:solid;background:''}

.group-2-9809{
position:absolute ;width: 280.0px; height: 55.9989013671875px;  background-color: rgba(0,0,0,0.0);top:14px; left: 41px;background:''}

.text-2-9810{
position: absolute;
left: 79.0px;
 top: -0.7957763671875px;
 width: 122.033203125px;
 height: 15.2723388671875px;
font-size: 12.0px; color: rgba(39, 39, 39, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.vector-2-9811{
position: absolute;left: 0.0px; top: 22.203125px; width: 280.0px; height: 33.0}

.group-2-9633{
position:absolute ;width: 1142.0px; height: 446.205078125px;  background-color: rgba(0,0,0,0.0);top:637px; left: 223px;background:''}

.group-2-9634{
position:absolute ;width: 362.0px; height: 84.0px;  background-color: rgba(0,0,0,0.0);top:291px; left: 0px;background:''}

.group-2-9635{
position:absolute ;width: 362.0px; height: 84.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-radius: 4.0px;border-color:rgba(166, 208, 244, 1.0);border-style:solid;background:''}

.group-2-9636{
position:absolute ;width: 280.0px; height: 64.1015625px;  background-color: rgba(0,0,0,0.0);top:6px; left: 41px;background:''}

.vector-2-9637{
position: absolute;left: 0.0px; top: 31.1015625px; width: 280.0px; height: 33.0}

.group-2-9661{
position:absolute ;width: 230.9932861328125px; height: 24.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 25px;background:''}

.text-2-9662{
position: absolute;
left: 0.0px;
 top: 7.55126953125px;
 width: 201.01734924316406px;
 height: 8.44873046875px;
font-size: 12.0px; color: rgba(39, 39, 39, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.vector-2-9663{
position: absolute;left: 206.9932861328125px; top: 0.0px; width: 24.0px; height: 24.0}

.group-2-9665{
position:absolute ;width: 837.0px; height: 103.0px;  background-color: rgba(0,0,0,0.0);top:163px; left: 1px;background:''}

.group-2-9666{
position:absolute ;width: 261.0px; height: 102.0px;  background-color: rgba(0,0,0,0.0);top:1px; left: 0px;background:''}

.group-2-9667{
position:absolute ;width: 261.0px; height: 102.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-2-9668{
position:absolute ;width: 261.0px; height: 102.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-radius: 4.0px;border-color:rgba(166, 208, 244, 1.0);border-style:solid;background:''}

.group-2-9669{
position:absolute ;width: 219.0px; height: 60.00018310546875px;  background-color: rgba(0,0,0,0.0);top:21px; left: 21px;background:''}

.group-2-9670{
position:absolute ;width: 219.0px; height: 60.00018310546875px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-2-9671{
position:absolute ;width: 219.0px; height: 31.0px;  background-color: rgba(0,0,0,0.0);top:29px; left: 0px;background:''}

.group-2-9672{
position:absolute ;width: 106.0px; height: 31.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-2-9673{
position:absolute ;width: 106.0px; height: 31.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-2-9674{
position:absolute ;width: 106.0px; height: 31.0px;  background-color: '';top:0px; left: 0px;border-radius: 4.0px;border-color:rgba(130, 196, 248, 1.0);border-style:solid;background:''}

.group-2-9675{
position:absolute ;width: 39.0px; height: 29.0px;  background-color: rgba(0,0,0,0.0);top:1px; left: 1px;background:''}

.group-2-9676{
position:absolute ;width: 39.0px; height: 29.0px;  background-color: rgba(219,222,235,1.0);top:0px; left: 0px;background:''}

.text-2-9677{
position: absolute;
left: 9.0px;
 top: 9.79473876953125px;
 width: 24.0px;
 height: 10.0px;
font-size: 8.0px; color: rgba(14, 14, 14, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.dropdown-2-9678{
position: absolute;left: 48.0px; top: 7.79473876953125px;; width: 51.27470397949219px; height: 17.08087158203125px;
font-size: 14.0px; color: rgba(33, 150, 243, 1.0); font-family: Gilroy-Bold;
}

.group-2-9681{
position:absolute ;width: 106.0px; height: 31.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 113px;background:''}

.group-2-9682{
position:absolute ;width: 106.0px; height: 31.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-2-9683{
position:absolute ;width: 106.0px; height: 31.0px;  background-color: '';top:0px; left: 0px;border-radius: 4.0px;border-color:rgba(130, 196, 248, 1.0);border-style:solid;background:''}

.group-2-9684{
position:absolute ;width: 39.0px; height: 29.0px;  background-color: rgba(0,0,0,0.0);top:1px; left: 1px;background:''}

.group-2-9685{
position:absolute ;width: 39.0px; height: 29.0px;  background-color: rgba(219,222,235,1.0);top:0px; left: 0px;background:''}

.text-2-9686{
position: absolute;
left: 16.0px;
 top: 9.79473876953125px;
 width: 11.0px;
 height: 10.0px;
font-size: 8.0px; color: rgba(14, 14, 14, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.dropdown-2-9687{
position: absolute;left: 48.0px; top: 7.79473876953125px;; width: 51.27470397949219px; height: 17.08087158203125px;
font-size: 14.0px; color: rgba(33, 150, 243, 1.0); font-family: Gilroy-Bold;
}

.text-2-9690{
position: absolute;
left: 39.0px;
 top: -0.2054443359375px;
 width: 141.02601623535156px;
 height: 15.39666748046875px;
font-size: 12.0px; color: rgba(39, 39, 39, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.group-2-9697{
position:absolute ;width: 261.0px; height: 102.0px;  background-color: rgba(0,0,0,0.0);top:1px; left: 289px;background:''}

.group-2-9698{
position:absolute ;width: 261.0px; height: 102.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-2-9699{
position:absolute ;width: 261.0px; height: 102.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-radius: 4.0px;border-color:rgba(166, 208, 244, 1.0);border-style:solid;background:''}

.group-2-9700{
position:absolute ;width: 219.0px; height: 60.00018310546875px;  background-color: rgba(0,0,0,0.0);top:21px; left: 21px;background:''}

.group-2-9701{
position:absolute ;width: 219.0px; height: 60.00018310546875px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-2-9702{
position:absolute ;width: 219.0px; height: 31.0px;  background-color: rgba(0,0,0,0.0);top:29px; left: 0px;background:''}

.group-2-9703{
position:absolute ;width: 106.0px; height: 31.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-2-9704{
position:absolute ;width: 106.0px; height: 31.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-2-9705{
position:absolute ;width: 106.0px; height: 31.0px;  background-color: '';top:0px; left: 0px;border-radius: 4.0px;border-color:rgba(130, 196, 248, 1.0);border-style:solid;background:''}

.group-2-9706{
position:absolute ;width: 39.0px; height: 29.0px;  background-color: rgba(0,0,0,0.0);top:1px; left: 1px;background:''}

.group-2-9707{
position:absolute ;width: 39.0px; height: 29.0px;  background-color: rgba(219,222,235,1.0);top:0px; left: 0px;background:''}

.text-2-9708{
position: absolute;
left: 9.0px;
 top: 9.99981689453125px;
 width: 24.0px;
 height: 10.0px;
font-size: 8.0px; color: rgba(14, 14, 14, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.dropdown-2-9709{
position: absolute;left: 48.0px; top: 7.99981689453125px;; width: 51.27471923828125px; height: 17.08087158203125px;
font-size: 14.0px; color: rgba(33, 150, 243, 1.0); font-family: Gilroy-Bold;
}

.group-2-9712{
position:absolute ;width: 106.0px; height: 31.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 113px;background:''}

.group-2-9713{
position:absolute ;width: 106.0px; height: 31.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-2-9714{
position:absolute ;width: 106.0px; height: 31.0px;  background-color: '';top:0px; left: 0px;border-radius: 4.0px;border-color:rgba(130, 196, 248, 1.0);border-style:solid;background:''}

.group-2-9715{
position:absolute ;width: 39.0px; height: 29.0px;  background-color: rgba(0,0,0,0.0);top:1px; left: 1px;background:''}

.group-2-9716{
position:absolute ;width: 39.0px; height: 29.0px;  background-color: rgba(219,222,235,1.0);top:0px; left: 0px;background:''}

.text-2-9717{
position: absolute;
left: 16.0px;
 top: 9.99981689453125px;
 width: 11.0px;
 height: 10.0px;
font-size: 8.0px; color: rgba(14, 14, 14, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.dropdown-2-9718{
position: absolute;left: 48.0px; top: 7.99981689453125px;; width: 51.27471923828125px; height: 17.08087158203125px;
font-size: 14.0px; color: rgba(33, 150, 243, 1.0); font-family: Gilroy-Bold;
}

.text-2-9721{
position: absolute;
left: 39.0px;
 top: -0.0003662109375px;
 width: 141.0260009765625px;
 height: 15.39666748046875px;
font-size: 12.0px; color: rgba(39, 39, 39, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.group-2-9691{
position:absolute ;width: 261.0px; height: 102.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 576px;background:''}

.group-2-9692{
position:absolute ;width: 261.0px; height: 102.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-radius: 4.0px;border-color:rgba(166, 208, 244, 1.0);border-style:solid;background:''}

.vector-2-9695{
position: relative; width: 16.0px; height: 16.0}

.btn-2-9693{
position: absolute;
left: 27.0px;
 top: 35.0px;
 width: 197.0px;
 height: 28.0px;
border-radius: 5.0px; background-color: rgba(33, 150, 243, 1.0);
 cursor: pointer;

}

.group-2-9722{
position:absolute ;width: 1141.0px; height: 138.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 1px;background:''}

.group-2-9794{
position:absolute ;width: 1141.0px; height: 44.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-2-9795{
position:absolute ;width: 1141.0px; height: 44.0px;  background-color: rgba(219,222,235,1.0);top:0px; left: 0px;background:''}

.group-2-9796{
position:absolute ;width: 287.0px; height: 28.0px;  background-color: rgba(0,0,0,0.0);top:8px; left: 10px;background:''}

.vector-2-9797{
position: absolute;left: 0.0px; top: -0.205078125px; width: 28.0px; height: 28.0}

.text-2-9806{
position: absolute;
left: 43.0px;
 top: 5.794921875px;
 width: 244.0px;
 height: 17.0px;
font-size: 16.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.group-2-9723{
position:absolute ;width: 1141.0px; height: 84.0px;  background-color: rgba(0,0,0,0.0);top:54px; left: 0px;background:''}

.group-2-9752{
position:absolute ;width: 362.0px; height: 84.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 390px;background:''}

.group-2-9753{
position:absolute ;width: 362.0px; height: 84.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-radius: 4.0px;border-color:rgba(166, 208, 244, 1.0);border-style:solid;background:''}

.group-2-9754{
position:absolute ;width: 224.0px; height: 56.11553955078125px;  background-color: rgba(0,0,0,0.0);top:14px; left: 69px;background:''}

.text-2-9755{
position: absolute;
left: 25.0px;
 top: -0.205322265625px;
 width: 173.0330810546875px;
 height: 19.3861083984375px;
font-size: 12.0px; color: rgba(39, 39, 39, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.vector-2-9756{
position: absolute;left: 0.0px; top: 22.91021728515625px; width: 224.0px; height: 33.0}

.group-2-9724{
position:absolute ;width: 362.0px; height: 84.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-2-9725{
position:absolute ;width: 362.0px; height: 84.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-radius: 4.0px;border-color:rgba(166, 208, 244, 1.0);border-style:solid;background:''}

.group-2-9726{
position:absolute ;width: 280.0px; height: 56.10430908203125px;  background-color: rgba(0,0,0,0.0);top:14px; left: 41px;background:''}

.text-2-9727{
position: absolute;
left: 55.0px;
 top: -0.2059326171875px;
 width: 169.03305053710938px;
 height: 19.37725830078125px;
font-size: 12.0px; color: rgba(39, 39, 39, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.vector-2-9728{
position: absolute;left: 0.0px; top: 22.89837646484375px; width: 280.0px; height: 33.0}

.group-2-9773{
position:absolute ;width: 362.0px; height: 84.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 779px;background:''}

.group-2-9774{
position:absolute ;width: 362.0px; height: 84.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-radius: 4.0px;border-color:rgba(166, 208, 244, 1.0);border-style:solid;background:''}

.group-2-9775{
position:absolute ;width: 224.0px; height: 56.00274658203125px;  background-color: rgba(0,0,0,0.0);top:14px; left: 69px;background:''}

.text-2-9776{
position: absolute;
left: 50.0px;
 top: -0.205810546875px;
 width: 123.03314208984375px;
 height: 19.27447509765625px;
font-size: 12.0px; color: rgba(39, 39, 39, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.vector-2-9777{
position: absolute;left: 0.0px; top: 22.79693603515625px; width: 224.0px; height: 33.0}

.group-24-2118{
position:absolute ;width: 175.0px; height: 40.0px;  background-color: rgba(0,0,0,0.0);top:406px; left: 932px;border-radius: 2.0px;background:''}

.btn-24-2122{
position: absolute;
left: 0.0px;
 top: 0.0px;
 width: 81.0px;
 height: 40.0px;
border-radius: 2.0px; background-color: rgba(214, 214, 214, 1.0);
 cursor: pointer;
font-size: 14.0px; color: rgba(140, 140, 140, 1.0); font-family: Gilroy-Bold; text-transform: uppercase; font-weight: 400;
}

.btn-24-2119{
position: absolute;
left: 95.0px;
 top: 0.0px;
 width: 80.0px;
 height: 40.0px;
border-radius: 2.0px; background-color: rgba(34, 52, 132, 1.0);
 cursor: pointer;
font-size: 14.0px; color: rgba(255, 255, 255, 1.0); font-family: Gilroy-Bold; text-transform: uppercase; font-weight: 400;
}