<div class="modulescreatewhatifanalysiscommon-1-8880" name="Modules@create what if Analysis#Common">
 <div class="group-1-8884" name="Group">
  <div class="group-1-8885" name="Group">
  </div>
  <div class="group-1-8887" name="Group">
   <div class="group-1-8888" name="Group">
   </div>
   <label class="text-1-8903" type="text" value="Base Line Name ABCD">
    Base Line Name ABCD
   </label>
   <div class="group-1-8890" name="Group">
    <div class="group-1-8895" name="Group">
     <div class="group-1-8897" name="Group">
      <div class="group-1-8898" name="Group">
      </div>
      <img class="vector-1-8899" src="assets/images/Modules/create-what-if-analysis/vector-1_8899.svg"/>
      <label class="text-1-8901" type="text" value="Base Line ID">
       Base Line ID
      </label>
     </div>
     <label class="text-1-8896" type="text" value="921409198-87861">
      921409198-87861
     </label>
    </div>
    <label class="text-1-8902" type="text" value="Private">
     Private
    </label>
    <img class="vector-1-8891" src="assets/images/Modules/create-what-if-analysis/vector-1_8891.svg"/>
   </div>
  </div>
  <img class="vector-1-8886" src="assets/images/Modules/create-what-if-analysis/vector-1_8886.svg"/>
  <div class="group-1-8904" name="Group">
   <div class="group-1-8905" name="Group">
    <div class="group-1-8906" name="Group">
     <div class="group-1-8907" name="Group">
     </div>
     <div class="group-1-8908" name="Group">
      <label class="text-1-8909" type="text" value="OPERATING room">
       OPERATING room
      </label>
     </div>
    </div>
    <div class="group-1-8910" name="Group">
     <div class="group-1-8911" name="Group">
      <div class="group-1-8912" name="Group">
      </div>
      <div class="group-1-8913" name="Group">
       <label class="text-1-8914" type="text" value="Department type">
        Department type
       </label>
      </div>
     </div>
    </div>
   </div>
   <div class="group-1-8915" name="Group">
    <div class="group-1-8916" name="Group">
     <div class="group-1-8917" name="Group">
     </div>
     <div class="group-1-8918" name="Group">
      <label class="text-1-8919" type="text" value="Site2_OR">
       Site2_OR
      </label>
     </div>
    </div>
    <div class="group-1-8920" name="Group">
     <div class="group-1-8921" name="Group">
      <div class="group-1-8922" name="Group">
      </div>
      <div class="group-1-8923" name="Group">
       <label class="text-1-8924" type="text" value="Department group">
        Department group
       </label>
      </div>
     </div>
    </div>
   </div>
   <div class="group-1-8925" name="Group">
    <div class="group-1-8926" name="Group">
     <div class="group-1-8927" name="Group">
     </div>
     <div class="group-1-8928" name="Group">
      <label class="text-1-8929" type="text" value="Registered Nurses">
       Registered Nurses
      </label>
     </div>
    </div>
    <div class="group-1-8930" name="Group">
     <div class="group-1-8931" name="Group">
      <div class="group-1-8932" name="Group">
      </div>
      <div class="group-1-8933" name="Group">
       <label class="text-1-8934" type="text" value="Resource Group">
        Resource Group
       </label>
      </div>
     </div>
    </div>
   </div>
  </div>
  <div class="group-1-8935" name="Group">
   <div class="group-1-8936" name="Group">
   </div>
   <div class="group-1-8937" name="Group">
    <img class="vector-1-8938" src="assets/images/Modules/create-what-if-analysis/vector-1_8938.svg"/>
    <img class="vector-1-8944" src="assets/images/Modules/create-what-if-analysis/vector-1_8944.svg"/>
    <img class="vector-1-8950" src="assets/images/Modules/create-what-if-analysis/vector-1_8950.svg"/>
   </div>
  </div>
  <div class="group-1-9350" name="Group">
   <div class="group-1-9424" name="Group">
    <div class="group-1-9425" name="Group">
     <div class="group-1-9426" name="Group">
     </div>
     <div class="group-1-9427" name="Group">
      <div class="group-1-9428" name="Group">
       <div class="group-1-9429" name="Group">
       </div>
       <img class="vector-1-9430" src="assets/images/Modules/create-what-if-analysis/vector-1_9430.svg"/>
       <label class="text-1-9433" type="text" value="TRADITIONAL">
        TRADITIONAL
       </label>
      </div>
      <div class="group-1-9434" name="Group">
       <div class="group-1-9435" name="Group">
       </div>
       <img class="vector-1-9436" src="assets/images/Modules/create-what-if-analysis/vector-1_9436.svg"/>
       <label class="text-1-9439" type="text" value="HYBRID">
        HYBRID
       </label>
      </div>
      <div class="group-1-9440" name="Group">
       <div class="group-1-9441" name="Group">
       </div>
       <img class="vector-1-9442" src="assets/images/Modules/create-what-if-analysis/vector-1_9442.svg"/>
       <label class="text-1-9445" type="text" value="OPTIMAL">
        OPTIMAL
       </label>
      </div>
     </div>
    </div>
    <div class="group-1-9446" name="Group">
     <div class="group-1-9447" name="Group">
     </div>
     <div class="group-1-9448" name="Group">
      <img class="vector-1-9449" src="assets/images/Modules/create-what-if-analysis/vector-1_9449.svg"/>
      <label class="text-1-9458" type="text" value="Shift Distribution Types">
       Shift Distribution Types
      </label>
     </div>
    </div>
   </div>
   <div class="group-1-9373" name="Group">
    <div class="group-1-9374" name="Group">
     <div class="group-1-9375" name="Group">
     </div>
     <div class="group-1-9376" name="Group">
      <label class="text-1-9377" type="text" value="ratio scale">
       ratio scale
      </label>
      <div class="group-1-9378" name="Group">
       <label class="text-1-9379" type="text" value="1.0">
        1.0
       </label>
       <button class="btn-1-9380" type="button">
        <img class="vector-1-9382" src="assets/images/Modules/create-what-if-analysis/vector-1_9382.svg"/>
       </button>
       <button class="btn-1-9383" type="button">
        <img class="vector-1-9385" src="assets/images/Modules/create-what-if-analysis/vector-1_9385.svg"/>
       </button>
      </div>
     </div>
    </div>
    <div class="group-1-9386" name="Group">
     <div class="group-1-9387" name="Group">
     </div>
     <div class="group-1-9388" name="Group">
      <label class="text-1-9389" type="text" value="Number of Weeks">
       Number of Weeks
      </label>
      <div class="group-1-9390" name="Group">
       <label class="text-1-9391" type="text" value="3">
        3
       </label>
       <button class="btn-1-9392" type="button">
        <img class="vector-1-9394" src="assets/images/Modules/create-what-if-analysis/vector-1_9394.svg"/>
       </button>
       <button class="btn-1-9395" type="button">
        <img class="vector-1-9397" src="assets/images/Modules/create-what-if-analysis/vector-1_9397.svg"/>
       </button>
      </div>
     </div>
    </div>
    <div class="group-1-9398" name="Group">
     <div class="group-1-9399" name="Group">
     </div>
     <div class="group-1-9400" name="Group">
      <br/>
      <label class="calendar-1-9401" for="html">
       start date
      </label>
      <input class="input-1-9401" onblur="(this.type='text')" onfocus="(this.type='date')" placeholder="mm/dd/yyyy" type="text"/>
      <br/>
      <img class="vector-1-9404" src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/87c58f22-b01c-4151-940e-19b93ccd9b24"/>
     </div>
    </div>
    <div class="group-1-9411" name="Group">
     <div class="group-1-9412" name="Group">
     </div>
     <div class="group-1-9413" name="Group">
      <br/>
      <label class="calendar-1-9414" for="html">
       end date
      </label>
      <input class="input-1-9414" onblur="(this.type='text')" onfocus="(this.type='date')" placeholder="mm/dd/yyyy" type="text"/>
      <br/>
      <img class="vector-1-9417" src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/a29602b4-095b-4ab2-835c-1d3920fea9f7"/>
     </div>
    </div>
   </div>
   <div class="group-1-9351" name="Group">
    <div class="group-1-9352" name="Group">
     <div class="group-1-9353" name="Group">
     </div>
     <div class="group-1-9354" name="Group">
      <label class="text-1-9355" type="text" value="EARLIEST Start Time">
       EARLIEST Start Time
      </label>
      <img class="vector-1-9356" src="assets/images/Modules/create-what-if-analysis/vector-1_9356.svg"/>
     </div>
    </div>
   </div>
   <div class="group-2-9807" name="Group">
    <div class="group-2-9808" name="Group">
    </div>
    <div class="group-2-9809" name="Group">
     <label class="text-2-9810" type="text" value="transition scale">
      transition scale
     </label>
     <img class="vector-2-9811" src="assets/images/Modules/create-what-if-analysis/vector-2_9811.svg"/>
    </div>
   </div>
  </div>
  <div class="group-2-9633" name="Group">
   <div class="group-2-9634" name="Group">
    <div class="group-2-9635" name="Group">
    </div>
    <div class="group-2-9636" name="Group">
     <img class="vector-2-9637" src="assets/images/Modules/create-what-if-analysis/vector-2_9637.svg"/>
     <div class="group-2-9661" name="Group">
      <label class="text-2-9662" type="text" value="Non-Traditional Resources">
       Non-Traditional Resources
      </label>
      <img class="vector-2-9663" src="assets/images/Modules/create-what-if-analysis/vector-2_9663.svg"/>
     </div>
    </div>
   </div>
   <div class="group-2-9665" name="Group">
    <div class="group-2-9666" name="Group">
     <div class="group-2-9667" name="Group">
      <div class="group-2-9668" name="Group">
      </div>
      <div class="group-2-9669" name="Group">
       <div class="group-2-9670" name="Group">
        <div class="group-2-9671" name="Group">
         <div class="group-2-9672" name="Group">
          <div class="group-2-9673" name="Group">
           <div class="group-2-9674" name="Group">
           </div>
           <div class="group-2-9675" name="Group">
            <div class="group-2-9676" name="Group">
            </div>
            <label class="text-2-9677" type="text" value="From">
             From
            </label>
           </div>
           <select class="dropdown-2-9678">
            <option selected="" value="">
             6 AM
            </option>
           </select>
          </div>
         </div>
         <div class="group-2-9681" name="Group">
          <div class="group-2-9682" name="Group">
           <div class="group-2-9683" name="Group">
           </div>
           <div class="group-2-9684" name="Group">
            <div class="group-2-9685" name="Group">
            </div>
            <label class="text-2-9686" type="text" value="To">
             To
            </label>
           </div>
           <select class="dropdown-2-9687">
            <option selected="" value="">
             2 PM
            </option>
           </select>
          </div>
         </div>
        </div>
        <label class="text-2-9690" type="text" value="Shift Time Duration">
         Shift Time Duration
        </label>
       </div>
      </div>
     </div>
    </div>
    <div class="group-2-9697" name="Group">
     <div class="group-2-9698" name="Group">
      <div class="group-2-9699" name="Group">
      </div>
      <div class="group-2-9700" name="Group">
       <div class="group-2-9701" name="Group">
        <div class="group-2-9702" name="Group">
         <div class="group-2-9703" name="Group">
          <div class="group-2-9704" name="Group">
           <div class="group-2-9705" name="Group">
           </div>
           <div class="group-2-9706" name="Group">
            <div class="group-2-9707" name="Group">
            </div>
            <label class="text-2-9708" type="text" value="From">
             From
            </label>
           </div>
           <select class="dropdown-2-9709">
            <option selected="" value="">
             6 AM
            </option>
           </select>
          </div>
         </div>
         <div class="group-2-9712" name="Group">
          <div class="group-2-9713" name="Group">
           <div class="group-2-9714" name="Group">
           </div>
           <div class="group-2-9715" name="Group">
            <div class="group-2-9716" name="Group">
            </div>
            <label class="text-2-9717" type="text" value="To">
             To
            </label>
           </div>
           <select class="dropdown-2-9718">
            <option selected="" value="">
             2 PM
            </option>
           </select>
          </div>
         </div>
        </div>
        <label class="text-2-9721" type="text" value="Shift Time Duration">
         Shift Time Duration
        </label>
       </div>
      </div>
     </div>
    </div>
    <div class="group-2-9691" name="Group">
     <div class="group-2-9692" name="Group">
     </div>
     <button class="btn-2-9693" type="button">
      <img class="vector-2-9695" src="assets/images/Modules/create-what-if-analysis/vector-2_9695.svg"/>
     </button>
    </div>
   </div>
   <div class="group-2-9722" name="Group">
    <div class="group-2-9794" name="Group">
     <div class="group-2-9795" name="Group">
     </div>
     <div class="group-2-9796" name="Group">
      <img class="vector-2-9797" src="assets/images/Modules/create-what-if-analysis/vector-2_9797.svg"/>
      <label class="text-2-9806" type="text" value="Pre- Determined Variables">
       Pre- Determined Variables
      </label>
     </div>
    </div>
    <div class="group-2-9723" name="Group">
     <div class="group-2-9752" name="Group">
      <div class="group-2-9753" name="Group">
      </div>
      <div class="group-2-9754" name="Group">
       <label class="text-2-9755" type="text" value="Maximum Shift Duration">
        Maximum Shift Duration
       </label>
       <img class="vector-2-9756" src="assets/images/Modules/create-what-if-analysis/vector-2_9756.svg"/>
      </div>
     </div>
     <div class="group-2-9724" name="Group">
      <div class="group-2-9725" name="Group">
      </div>
      <div class="group-2-9726" name="Group">
       <label class="text-2-9727" type="text" value="Minimum Shift Duration">
        Minimum Shift Duration
       </label>
       <img class="vector-2-9728" src="assets/images/Modules/create-what-if-analysis/vector-2_9728.svg"/>
      </div>
     </div>
     <div class="group-2-9773" name="Group">
      <div class="group-2-9774" name="Group">
      </div>
      <div class="group-2-9775" name="Group">
       <label class="text-2-9776" type="text" value="latest Start Time">
        latest Start Time
       </label>
       <img class="vector-2-9777" src="assets/images/Modules/create-what-if-analysis/vector-2_9777.svg"/>
      </div>
     </div>
    </div>
   </div>
   <div class="group-24-2118" name="Group">
    <button class="btn-24-2122" type="button">
     Cancel
    </button>
    <button class="btn-24-2119" type="button">
     RUN
    </button>
   </div>
  </div>
 </div>
</div>
