<div class="coresharecommon-16-252" name="Core@Share#Common">
 <div class="group-16-253" name="Group">
 </div>
 <div class="group-16-254" name="Group">
  <div class="group-16-255" name="Group">
  </div>
  <div class="group-16-256" name="Group">
   <button class="btn-16-257" type="button">
    Copy
   </button>
   <div class="group-16-260" name="Group">
    <div class="group-16-261" name="Group">
     <div class="group-16-262" name="Group">
     </div>
    </div>
    <label class="text-16-263" type="text" value="https://dev.polarishealth.ai/#/">
     https://dev.polarishealth.ai/#/
    </label>
   </div>
  </div>
 </div>
 <div class="group-16-264" name="Group">
  <div class="group-16-265" name="Group">
  </div>
  <img class="vector-16-266" src="assets/images/Core/share/vector-16_266.svg"/>
  <label class="text-16-267" type="text" value="Anyone can access to the link">
   Anyone can access to the link
  </label>
  <label class="text-16-268" type="text" value="Share link">
   Share link
  </label>
 </div>
 <div class="group-16-269" name="Group">
  <div class="group-16-270" name="Group">
  </div>
  <div class="group-16-271" name="Group">
   <div class="group-16-272" name="Group">
   </div>
   <img class="vector-16-273" src="assets/images/Core/share/vector-16_273.svg"/>
   <label class="text-16-274" type="text" value="USER 01">
    USER 01
   </label>
   <img class="img-16-275" src="assets/images/Core/share/img-16_275.png"/>
  </div>
  <div class="group-16-276" name="Group">
   <div class="group-16-277" name="Group">
   </div>
   <img class="vector-16-278" src="assets/images/Core/share/vector-16_278.svg"/>
   <label class="text-16-279" type="text" value="user 02">
    user 02
   </label>
   <img class="img-16-280" src="assets/images/Core/share/img-16_280.png"/>
  </div>
  <div class="group-16-281" name="Group">
   <div class="group-16-282" name="Group">
   </div>
   <img class="vector-16-283" src="assets/images/Core/share/vector-16_283.svg"/>
   <label class="text-16-284" type="text" value="user 03">
    user 03
   </label>
   <img class="img-16-285" src="assets/images/Core/share/img-16_285.png"/>
  </div>
 </div>
 <div class="group-16-286" name="Group">
  <div class="group-16-287" name="Group">
  </div>
  <button class="btn-16-288" type="button">
   ADD
  </button>
  <div class="group-16-291" name="Group">
   <div class="group-16-292" name="Group">
    <div class="group-16-293" name="Group">
    </div>
   </div>
   <label class="text-16-294" type="text" value="Select A User">
    Select A User
   </label>
  </div>
 </div>
 <label class="text-16-295" type="text" value="Invite Users">
  Invite Users
 </label>
 <div class="group-16-296" name="Group">
  <div class="group-16-297" name="Group">
   <label class="text-16-298" type="text" value="921409198-87861">
    921409198-87861
   </label>
   <img class="vector-16-299" src="assets/images/Core/share/vector-16_299.svg"/>
  </div>
  <label class="text-16-304" type="text" value="Base Line Name Abcd">
   Base Line Name Abcd
  </label>
 </div>
 <div class="group-16-305" name="Group">
  <div class="group-16-306" name="Group">
  </div>
  <img class="vector-16-307" src="assets/images/Core/share/vector-16_307.svg"/>
  <label class="text-16-312" type="text" value="Add Collaborator">
   Add Collaborator
  </label>
  <img class="vector-16-313" src="assets/images/Core/share/vector-16_313.svg"/>
 </div>
</div>
