

.sharecreatewhatifcommon-39-2951{
position:'' ;width: 100%; height: auto;  background-color: rgba(23,23,54,1.0);top:0px; left: 0;background:''}

.group-39-2972{
position:absolute ;width: 238.0px; height: 16.0px;  background-color: rgba(0,0,0,0.0);top:7px; left: calc( ( ( 100% - 1440px) / 2 ) + 8px);box-shadow: 0.0px 0.0px 1.1399999856948853px rgba(0, 0, 0, 0.25);background:''}

.group-39-2973{
position:absolute ;width: 238.0px; height: 16.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-39-2974{
position:absolute ;width: 238.0px; height: 16.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-39-2975{
position:absolute ;width: 238.0px; height: 16.0px;  background-color: rgba(250,253,255,1.0);top:0px; left: 0px;border-radius: 2.0px;box-shadow: 0.0px 0.0px 1.1399999856948853px rgba(0, 0, 0, 0.10000000149011612);background:''}

.vector-39-2976{
position: absolute;left: 225.0px; top: 4.0px; width: 7.0px; height: 7.0}

.text-39-2977{
position: absolute;
left: 5.00048828125px;
 top: 4.0px;
 width: 101.01708984375px;
 height: 7.084228515625px;
font-size: 10.0px; color: rgba(87, 42, 183, 1.0); font-family: Gilroy-Medium; font-weight: 400;
}

.group-39-2955{
position:absolute ;width: 238.0px; height: 273.0px;  background-color: rgba(0,0,0,0.0);top:30px; left: calc( ( ( 100% - 1440px) / 2 ) + 8px);border-radius: 2.0px;background:''}

.group-39-2956{
position:absolute ;width: 238.0px; height: 273.0px;  background-color: rgba(217,217,217,1.0);top:0px; left: 0px;border-radius: 2.0px;border-color:rgba(44, 44, 67, 1.0);border-style:solid;background:''}

.group-39-2968{
position:absolute ;width: 208.0185546875px; height: 7.06591796875px;  background-color: rgba(0,0,0,0.0);top:6px; left: 5px;background:''}

.group-39-2969{
position:absolute ;width: 208.0185546875px; height: 7.06591796875px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.text-39-2970{
position: absolute;
left: 0.0009765625px;
 top: 1.0px;
 width: 60.0302734375px;
 height: 6.0240478515625px;
font-size: 8.0px; color: rgba(255, 255, 255, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.text-39-2971{
position: absolute;
left: 134.00341796875px;
 top: 0.0px;
 width: 74.01611328125px;
 height: 7.06591796875px;
font-size: 10.0px; color: rgba(255, 255, 255, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.vector-39-2967{
position: absolute;left: 0.0px; top: 18.56640625px; width: 238.0px; height: 1}

.group-39-2963{
position:absolute ;width: 217.0146484375px; height: 7.0738525390625px;  background-color: rgba(0,0,0,0.0);top:26px; left: 5px;background:''}

.group-39-2964{
position:absolute ;width: 217.0146484375px; height: 7.0738525390625px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.text-39-2965{
position: absolute;
left: 0.0009765625px;
 top: -0.93359375px;
 width: 46.0302734375px;
 height: 6.0184326171875px;
font-size: 8.0px; color: rgba(255, 255, 255, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.text-39-2966{
position: absolute;
left: 133.99951171875px;
 top: -0.93359375px;
 width: 83.01611328125px;
 height: 7.0738525390625px;
font-size: 10.0px; color: rgba(255, 255, 255, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.vector-39-2962{
position: absolute;left: 0.0px; top: 37.640625px; width: 238.0px; height: 1}

.group-39-2958{
position:absolute ;width: 214.9521484375px; height: 7.0721435546875px;  background-color: rgba(0,0,0,0.0);top:45px; left: 5px;background:''}

.group-39-2959{
position:absolute ;width: 214.9521484375px; height: 7.0721435546875px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.text-39-2960{
position: absolute;
left: 0.0009765625px;
 top: 0.140625px;
 width: 66.0302734375px;
 height: 6.0263671875px;
font-size: 8.0px; color: rgba(255, 255, 255, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.text-39-2961{
position: absolute;
left: 133.93701171875px;
 top: -0.859375px;
 width: 81.01611328125px;
 height: 7.0721435546875px;
font-size: 10.0px; color: rgba(255, 255, 255, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.vector-39-2957{
position: absolute;left: 0.0px; top: 56.7109375px; width: 238.0px; height: 1}

.btn-39-2952{
position: absolute;
left: 93.0px;
 top: 312.0px;
 width: 79.0009765625px;
 height: 18.0101318359375px;
border-radius: 2.0px; background-color: rgba(255, 255, 255, 1.0);
 cursor: pointer;
font-size: 8.0px; color: rgba(87, 42, 183, 1.0); font-family: Gilroy-Medium; text-transform: uppercase; font-weight: 400;
}