<div class="sharecreatewhatifcommon-39-2951" name="Share@createwhatif#Common">
 <div class="group-39-2972" name="Group">
  <div class="group-39-2973" name="Group">
   <div class="group-39-2974" name="Group">
    <div class="group-39-2975" name="Group">
    </div>
    <img class="vector-39-2976" src="assets/images/Share/createwhatif/vector-39_2976.svg"/>
    <label class="text-39-2977" type="text" value="Predetermined Values">
     Predetermined Values
    </label>
   </div>
  </div>
 </div>
 <div class="group-39-2955" name="Group">
  <div class="group-39-2956" name="Group">
  </div>
  <div class="group-39-2968" name="Group">
   <div class="group-39-2969" name="Group">
    <label class="text-39-2970" type="text" value="Base Line Name">
     Base Line Name
    </label>
    <label class="text-39-2971" type="text" value="Base Line ABCD">
     Base Line ABCD
    </label>
   </div>
  </div>
  <img class="vector-39-2967" src="assets/images/Share/createwhatif/vector-39_2967.svg"/>
  <div class="group-39-2963" name="Group">
   <div class="group-39-2964" name="Group">
    <label class="text-39-2965" type="text" value="Base Line ID">
     Base Line ID
    </label>
    <label class="text-39-2966" type="text" value="6921409198-87861">
     6921409198-87861
    </label>
   </div>
  </div>
  <img class="vector-39-2962" src="assets/images/Share/createwhatif/vector-39_2962.svg"/>
  <div class="group-39-2958" name="Group">
   <div class="group-39-2959" name="Group">
    <label class="text-39-2960" type="text" value="Department type">
     Department type
    </label>
    <label class="text-39-2961" type="text" value="Emergency Room">
     Emergency Room
    </label>
   </div>
  </div>
  <img class="vector-39-2957" src="assets/images/Share/createwhatif/vector-39_2957.svg"/>
 </div>
 <button class="btn-39-2952" type="button">
  Create What-if
 </button>
</div>
