<div class="testbaselinecommon-25-5573" name="test@Baseline#Common">
 <div class="group-25-5574" name="Group">
  <div class="group-25-5575" name="Group">
  </div>
  <div class="group-25-5576" name="Group">
   <div class="group-25-5665" name="Group">
    <div class="group-25-5737" name="Group">
     <div class="group-25-5738" name="Group">
     </div>
     <div class="group-25-5739" name="Group">
      <img class="vector-25-5740" src="assets/images/test/baseline/vector-25_5740.svg"/>
      <label class="text-25-5749" type="text" value="Pre- Determined Variables">
       Pre- Determined Variables
      </label>
     </div>
    </div>
    <div class="group-25-5666" name="Group">
     <div class="group-25-5667" name="Group">
      <div class="group-25-5668" name="Group">
      </div>
      <div class="group-25-5669" name="Group">
       <label class="text-25-5670" type="text" value="Minimum Shift Duration">
        Minimum Shift Duration
       </label>
       <img class="vector-25-5671" src="assets/images/test/baseline/vector-25_5671.svg"/>
      </div>
     </div>
     <div class="group-25-5695" name="Group">
      <div class="group-25-5696" name="Group">
      </div>
      <div class="group-25-5697" name="Group">
       <label class="text-25-5698" type="text" value="Maximum Shift Duration">
        Maximum Shift Duration
       </label>
       <img class="vector-25-5699" src="assets/images/test/baseline/vector-25_5699.svg"/>
      </div>
     </div>
     <div class="group-25-5716" name="Group">
      <div class="group-25-5717" name="Group">
      </div>
      <div class="group-25-5718" name="Group">
       <label class="text-25-5719" type="text" value="latest Start Time">
        latest Start Time
       </label>
       <img class="vector-25-5720" src="assets/images/test/baseline/vector-25_5720.svg"/>
      </div>
     </div>
    </div>
   </div>
   <div class="group-25-5608" name="Group">
    <div class="group-25-5609" name="Group">
     <div class="group-25-5610" name="Group">
      <div class="group-25-5611" name="Group">
      </div>
      <div class="group-25-5612" name="Group">
       <div class="group-25-5613" name="Group">
        <div class="group-25-5614" name="Group">
         <div class="group-25-5615" name="Group">
          <div class="group-25-5616" name="Group">
           <div class="group-25-5617" name="Group">
           </div>
           <div class="group-25-5618" name="Group">
            <div class="group-25-5619" name="Group">
            </div>
            <label class="text-25-5620" type="text" value="From">
             From
            </label>
           </div>
           <select class="dropdown-25-5621">
            <option selected="" value="">
             6 AM
            </option>
           </select>
          </div>
         </div>
         <div class="group-25-5624" name="Group">
          <div class="group-25-5625" name="Group">
           <div class="group-25-5626" name="Group">
           </div>
           <div class="group-25-5627" name="Group">
            <div class="group-25-5628" name="Group">
            </div>
            <label class="text-25-5629" type="text" value="To">
             To
            </label>
           </div>
           <select class="dropdown-25-5630">
            <option selected="" value="">
             2 PM
            </option>
           </select>
          </div>
         </div>
        </div>
        <label class="text-25-5633" type="text" value="Shift Time Duration">
         Shift Time Duration
        </label>
       </div>
      </div>
     </div>
    </div>
    <div class="group-25-5640" name="Group">
     <div class="group-25-5641" name="Group">
      <div class="group-25-5642" name="Group">
      </div>
      <div class="group-25-5643" name="Group">
       <div class="group-25-5644" name="Group">
        <div class="group-25-5645" name="Group">
         <div class="group-25-5646" name="Group">
          <div class="group-25-5647" name="Group">
           <div class="group-25-5648" name="Group">
           </div>
           <div class="group-25-5649" name="Group">
            <div class="group-25-5650" name="Group">
            </div>
            <label class="text-25-5651" type="text" value="From">
             From
            </label>
           </div>
           <select class="dropdown-25-5652">
            <option selected="" value="">
             6 AM
            </option>
           </select>
          </div>
         </div>
         <div class="group-25-5655" name="Group">
          <div class="group-25-5656" name="Group">
           <div class="group-25-5657" name="Group">
           </div>
           <div class="group-25-5658" name="Group">
            <div class="group-25-5659" name="Group">
            </div>
            <label class="text-25-5660" type="text" value="To">
             To
            </label>
           </div>
           <select class="dropdown-25-5661">
            <option selected="" value="">
             2 PM
            </option>
           </select>
          </div>
         </div>
        </div>
        <label class="text-25-5664" type="text" value="Shift Time Duration">
         Shift Time Duration
        </label>
       </div>
      </div>
     </div>
    </div>
    <div class="group-25-5634" name="Group">
     <div class="group-25-5635" name="Group">
     </div>
     <button class="btn-25-5636" type="button">
      <img class="vector-25-5638" src="assets/images/test/baseline/vector-25_5638.svg"/>
     </button>
    </div>
   </div>
   <div class="group-25-5577" name="Group">
    <div class="group-25-5578" name="Group">
    </div>
    <div class="group-25-5579" name="Group">
     <div class="group-25-5604" name="Group">
      <label class="text-25-5605" type="text" value="Non-Traditional Resources">
       Non-Traditional Resources
      </label>
      <img class="vector-25-5606" src="assets/images/test/baseline/vector-25_5606.svg"/>
     </div>
     <img class="vector-25-5580" src="assets/images/test/baseline/vector-25_5580.svg"/>
    </div>
   </div>
  </div>
  <div class="group-25-5750" name="Group">
   <div class="group-25-5751" name="Group">
    <div class="group-25-5752" name="Group">
     <div class="group-25-5753" name="Group">
     </div>
     <div class="group-25-5754" name="Group">
      <label class="text-25-5755" type="text" value="EARLIEST Start Time">
       EARLIEST Start Time
      </label>
      <img class="vector-25-5756" src="assets/images/test/baseline/vector-25_5756.svg"/>
     </div>
    </div>
   </div>
   <div class="group-25-5773" name="Group">
    <div class="group-25-5786" name="Group">
     <div class="group-25-5787" name="Group">
     </div>
     <div class="group-25-5788" name="Group">
      <label class="text-25-5789" type="text" value="Number of Weeks">
       Number of Weeks
      </label>
      <div class="group-25-5790" name="Group">
       <button class="btn-25-5792" type="button">
        <img class="vector-25-5794" src="assets/images/test/baseline/vector-25_5794.svg"/>
       </button>
       <label class="text-25-5791" type="text" value="3">
        3
       </label>
       <button class="btn-25-5795" type="button">
        <img class="vector-25-5797" src="assets/images/test/baseline/vector-25_5797.svg"/>
       </button>
      </div>
     </div>
    </div>
    <div class="group-25-5798" name="Group">
     <div class="group-25-5799" name="Group">
     </div>
     <div class="group-25-5800" name="Group">
      <br/>
      <label class="calendar-25-5801" for="html">
       start date
      </label>
      <input class="input-25-5801" onblur="(this.type='text')" onfocus="(this.type='date')" placeholder="mm/dd/yyyy" type="text"/>
      <br/>
      <img class="vector-25-5804" src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/71574acb-f609-4cfc-b29e-039a41e6e713"/>
     </div>
    </div>
    <div class="group-25-5811" name="Group">
     <div class="group-25-5812" name="Group">
     </div>
     <div class="group-25-5813" name="Group">
      <br/>
      <label class="calendar-25-5814" for="html">
       end date
      </label>
      <input class="input-25-5814" onblur="(this.type='text')" onfocus="(this.type='date')" placeholder="mm/dd/yyyy" type="text"/>
      <br/>
      <img class="vector-25-5817" src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/81d74a12-47de-4713-976e-c5b41caacce8"/>
     </div>
    </div>
    <div class="group-25-5774" name="Group">
     <div class="group-25-5775" name="Group">
     </div>
     <div class="group-25-5776" name="Group">
      <label class="text-25-5777" type="text" value="ratio scale">
       ratio scale
      </label>
      <div class="group-25-5778" name="Group">
       <button class="btn-25-5780" type="button">
        <img class="vector-25-5782" src="assets/images/test/baseline/vector-25_5782.svg"/>
       </button>
       <label class="text-25-5779" type="text" value="1.0">
        1.0
       </label>
       <button class="btn-25-5783" type="button">
        <img class="vector-25-5785" src="assets/images/test/baseline/vector-25_5785.svg"/>
       </button>
      </div>
     </div>
    </div>
   </div>
   <div class="group-25-5824" name="Group">
    <div class="group-25-5846" name="Group">
     <div class="group-25-5847" name="Group">
     </div>
     <div class="group-25-5848" name="Group">
      <img class="vector-25-5849" src="assets/images/test/baseline/vector-25_5849.svg"/>
      <label class="text-25-5858" type="text" value="Shift Distribution Types">
       Shift Distribution Types
      </label>
     </div>
    </div>
    <div class="group-25-5825" name="Group">
     <div class="group-25-5826" name="Group">
     </div>
     <div class="group-25-5827" name="Group">
      <div class="group-25-5828" name="Group">
       <div class="group-25-5829" name="Group">
       </div>
       <img class="vector-25-5830" src="assets/images/test/baseline/vector-25_5830.svg"/>
       <label class="text-25-5833" type="text" value="TRADITIONAL">
        TRADITIONAL
       </label>
      </div>
      <div class="group-25-5834" name="Group">
       <div class="group-25-5835" name="Group">
       </div>
       <img class="vector-25-5836" src="assets/images/test/baseline/vector-25_5836.svg"/>
       <label class="text-25-5839" type="text" value="HYBRID">
        HYBRID
       </label>
      </div>
      <div class="group-25-5840" name="Group">
       <div class="group-25-5841" name="Group">
       </div>
       <img class="vector-25-5842" src="assets/images/test/baseline/vector-25_5842.svg"/>
       <label class="text-25-5845" type="text" value="OPTIMAL">
        OPTIMAL
       </label>
      </div>
     </div>
    </div>
   </div>
  </div>
  <div class="group-25-5859" name="Group">
   <div class="group-25-5860" name="Group">
    <div class="group-25-5865" name="Group">
     <div class="group-25-5866" name="Group">
      <div class="group-25-5867" name="Group">
      </div>
      <div class="group-25-5868" name="Group">
       <label class="text-25-5869" type="text" value="Department type">
        Department type
       </label>
      </div>
     </div>
    </div>
    <div class="group-25-5861" name="Group">
     <div class="group-25-5862" name="Group">
     </div>
     <div class="group-25-5863" name="Group">
      <label class="text-25-5864" type="text" value="Emergency room">
       Emergency room
      </label>
     </div>
    </div>
   </div>
   <div class="group-25-5870" name="Group">
    <div class="group-25-5871" name="Group">
     <div class="group-25-5872" name="Group">
     </div>
     <div class="group-25-5873" name="Group">
      <label class="text-25-5874" type="text" value="Site2_ED">
       Site2_ED
      </label>
     </div>
    </div>
    <div class="group-25-5875" name="Group">
     <div class="group-25-5876" name="Group">
      <div class="group-25-5877" name="Group">
      </div>
      <div class="group-25-5878" name="Group">
       <label class="text-25-5879" type="text" value="Department group">
        Department group
       </label>
      </div>
     </div>
    </div>
   </div>
   <div class="group-25-5880" name="Group">
    <div class="group-25-5881" name="Group">
     <div class="group-25-5882" name="Group">
     </div>
     <div class="group-25-5883" name="Group">
      <label class="text-25-5884" type="text" value="Registered Nurses">
       Registered Nurses
      </label>
     </div>
    </div>
    <div class="group-25-5885" name="Group">
     <div class="group-25-5886" name="Group">
      <div class="group-25-5887" name="Group">
      </div>
      <div class="group-25-5888" name="Group">
       <label class="text-25-5889" type="text" value="Resource Group">
        Resource Group
       </label>
      </div>
     </div>
    </div>
   </div>
  </div>
  <img class="vector-25-5890" src="assets/images/test/baseline/vector-25_5890.svg"/>
  <div class="group-25-5891" name="Group">
   <div class="group-25-5892" name="Group">
   </div>
   <div class="group-25-5893" name="Group">
    <label class="text-25-5907" type="text" value="Base Line Name 001">
     Base Line Name 001
    </label>
   </div>
   <div class="group-25-5894" name="Group">
    <div class="group-25-5899" name="Group">
     <div class="group-25-5901" name="Group">
      <div class="group-25-5902" name="Group">
      </div>
      <img class="vector-25-5903" src="assets/images/test/baseline/vector-25_5903.svg"/>
      <label class="text-25-5905" type="text" value="Base Line ID">
       Base Line ID
      </label>
     </div>
     <label class="text-25-5900" type="text" value="921409198-87861">
      921409198-87861
     </label>
    </div>
    <label class="text-25-5906" type="text" value="Private">
     Private
    </label>
    <img class="vector-25-5895" src="assets/images/test/baseline/vector-25_5895.svg"/>
   </div>
  </div>
 </div>
 <div class="group-25-5908" name="Group">
  <button class="btn-25-5912" type="button">
   Cancel
  </button>
  <button class="btn-25-5909" type="button">
   Next
  </button>
 </div>
</div>
